<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page_title}">Louer ma voiture - DriveShare</title>
    <style>
        .img-text-center {
            background: url(/images/louer-ma-voiture2.png) bottom center no-repeat;
            padding: 10rem 0;
            height: 65vh;
            background-size: cover;
            overflow: hidden;
            margin-bottom: 0;
            position: relative;
        }

        .img-bottom-radius {
            border-radius: 300px;
            position: absolute;
            bottom: -80px;
            width: 100%;
            height: 150px;
            background-color: #F3F5F8;
        }

        .c-main {
            color: #00BFFF;
        }

        .article-title {
            color: #354C6F;
        }

        .article-container {
            position: relative;
            padding: 2rem;
            margin-bottom: 2rem;
            border: 1px solid rgba(173, 191, 204, 0.3);
            border-radius: 0.4rem;
            height: 150px;
            background-color: #DFE7EC;
        }

        .article-response h3 {
            margin-bottom: 20px;
        }

        .article-response p {
            margin-bottom: 10px;
        }

        .menu-gauche {
            position: sticky;
            top: 0;
            z-index: 1820;
        }

        .menu-gauche a {
            display: block !important;
            padding: 20px 15px;
            margin-bottom: 20px;
            color: #354C6F;
            text-decoration: none !important;
            border-bottom: 1px solid #F3F5F8;
            background-color: #DFE7EC;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid p-0">
        <div class="img-text-center">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row justify-center fw-bold text-light">
                        <div class="col-11 col-lg-9 mx-auto mobile-frame bradius">
                            <h1 class="bold mb-5" th:text="#{banner_heading}">Louer sa voiture</h1>
                            <p class="c-white lh20 mgb-20" th:text="#{banner_paragraph1}">Vous avez une voiture “qui dort”, que vous n’utilisez qu’occasionnellement ?</p>
                            <p class="c-white lh20 mgb-20" th:text="#{banner_paragraph2}">Vous gagnez de l’argent, et en plus, vous rendez service à des touristes et des locaux.</p>
                            <div>
                                <a href="/rent" class="bg-white btn fs-5" th:text="#{banner_cta}">Inscrire ma voiture</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-flex col-md-6"></div>
            </div>
            <div class="img-bottom-radius"></div>
        </div>

        <section class="article" style="margin-bottom:60px; margin-top:60px;">
            <div class="container">
                <h2 class="text-center mb-5" th:text="#{why_rent_heading}">Louer votre voiture, on vous dit tout !</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">🚗</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question1}">Pourquoi louer sa voiture ?</h5>
                                    <p class="text-right">
                                        <a href="#article1" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">💰</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question2}">Louer sa voiture, combien ça rapporte?</h5>
                                    <p class="text-right">
                                        <a href="#article2" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">💪</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question3}">Pourquoi choisir DriveShare ?</h5>
                                    <p class="text-right">
                                        <a href="#article3" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">🛠️</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question4}">Comment préparer sa voiture pour la location ?</h5>
                                    <p class="text-right">
                                        <a href="#article4" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">💡</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question5}">Comment fixer le prix de la location ?</h5>
                                    <p class="text-right">
                                        <a href="#article5" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="article-container">
                            <div class="row">
                                <div class="col-2">
                                    <span class="fs18">👥</span>
                                </div>
                                <div class="col-10">
                                    <h5 class="article-title medium fs18" th:text="#{why_rent_question6}">Qui peut louer ma voiture ?</h5>
                                    <p class="text-right">
                                        <a href="#article6" class="c-main fs18 text-right more-link" th:text="#{en_savoir_plus}">En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Réponses -->
        <section id="article-reponse">
            <div class="container">
                <div class="row" style="margin-bottom:60px;">
                    <!-- Sidebar Left with Question Links and Icons -->
                    <div class="col-lg-3">
                        <div class="menu-gauche">
                            <a href="#article1" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">🚗</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question1}"></h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#article2" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">💰</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question2}"></h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#article3" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">💪</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question3}"></h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#article4" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">🛠️</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question4}"></h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#article5" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">💡</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question5}"></h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#article6" class="d-block">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fs18">👥</span>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="article-title medium fs18" th:text="#{why_rent_question6}"></h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-9 mx-auto">
                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article1" class="article-response">
                                    <h3 th:text="#{response1_heading}">1. Pourquoi louer sa voiture ?</h3>
                                    <p th:text="#{response1_paragraph1}">Louer sa voiture vous permet non seulement de générer un revenu supplémentaire...</p>
                                    <h5 th:text="#{response1_subheading1}">A. Gagnez de l'argent avec un véhicule inutilisé</h5>
                                    <p th:text="#{response1_paragraph2}">Beaucoup de propriétaires de voitures ne les utilisent que quelques jours par mois...</p>
                                    <h5 th:text="#{response1_subheading2}">B. Un service pour les autres</h5>
                                    <p th:text="#{response1_paragraph3}">En louant votre véhicule, vous rendez service à des personnes locales...</p>
                                    <h5 th:text="#{response1_subheading3}">C. Réduction des coûts fixes</h5>
                                    <p th:text="#{response1_paragraph4}">Les frais fixes liés à la possession d'une voiture (assurance, entretien, etc.) peuvent être réduits...</p>
                                </div>
                            </div>
                        </div>
                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article2" class="article-response">
                                    <h3 th:text="#{response2_heading}">2. Louer sa voiture, combien ça rapporte ?</h3>
                                    <p th:text="#{response2_paragraph1}">Les gains liés à la location de votre voiture dépendent de plusieurs facteurs...</p>
                                    <h5 th:text="#{response2_subheading1}">A. Petites voitures citadines d'occasion</h5>
                                    <p th:text="#{response2_paragraph2}">Une petite voiture d'occasion, telle qu'une Renault Twingo, peut générer environ 4 500 €...</p>
                                    <h5 th:text="#{response2_subheading2}">B. Voitures neuves</h5>
                                    <p th:text="#{response2_paragraph3}">Si vous possédez une voiture neuve comme une Dacia Duster ou une Renault Clio...</p>
                                    <h5 th:text="#{response2_subheading3}">C. Gestion de plusieurs voitures</h5>
                                    <p th:text="#{response2_paragraph4}">Si vous possédez plusieurs véhicules, ou si vous envisagez de gérer une flotte...</p>
                                </div>
                            </div>
                        </div>
                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article3" class="article-response">
                                    <h3 th:text="#{response3_heading}">3. Pourquoi choisir DriveShare ?</h3>
                                    <p th:text="#{response3_paragraph1}">DriveShare se distingue des autres plateformes par ses nombreux avantages...</p>
                                    <h5 th:text="#{response3_subheading1}">A. Sécurité maximale</h5>
                                    <p th:text="#{response3_paragraph2}">Avec DriveShare, toutes les locations sont couvertes par une assurance tous risques...</p>
                                    <h5 th:text="#{response3_subheading2}">B. Grande visibilité</h5>
                                    <p th:text="#{response3_paragraph3}">DriveShare bénéficie d'une forte notoriété à Bruxelles, où de nombreux utilisateurs...</p>
                                    <h5 th:text="#{response3_subheading3}">C. Flexibilité et simplicité</h5>
                                    <p th:text="#{response3_paragraph4}">Notre interface intuitive vous permet de gérer facilement vos locations...</p>
                                </div>
                            </div>
                        </div>
                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article4" class="article-response">
                                    <h3 th:text="#{response4_heading}">4. Comment préparer sa voiture pour la location ?</h3>
                                    <p th:text="#{response4_paragraph1}">Préparer votre voiture pour la location est essentiel pour garantir une expérience positive...</p>
                                    <h5 th:text="#{response4_subheading1}">A. Assurez-vous que votre voiture soit en bon état</h5>
                                    <p th:text="#{response4_paragraph2}">Avant chaque location, vérifiez que votre voiture est en parfait état de marche...</p>
                                    <h5 th:text="#{response4_subheading2}">B. Nettoyez votre véhicule</h5>
                                    <p th:text="#{response4_paragraph3}">Un véhicule propre, à l'intérieur comme à l'extérieur, est beaucoup plus attractif...</p>
                                    <h5 th:text="#{response4_subheading3}">C. Documents nécessaires</h5>
                                    <p th:text="#{response4_paragraph4}">Assurez-vous que tous les documents nécessaires sont présents dans le véhicule...</p>
                                </div>
                            </div>
                        </div>

                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article5" class="article-response">
                                    <h3 th:text="#{response5_heading}">5. Comment fixer le prix de la location ?</h3>
                                    <p th:text="#{response5_paragraph1}">Fixer le prix de la location de votre voiture est une étape clé pour attirer des locataires...</p>
                                    <h5 th:text="#{response5_subheading1}">A. Définissez trois prix selon la saison</h5>
                                    <p th:text="#{response5_paragraph2}">Lors de l'inscription de votre voiture sur DriveShare, vous devrez définir trois tarifs...</p>
                                    <h5 th:text="#{response5_subheading2}">B. Consultez les prix conseillés</h5>
                                    <p th:text="#{response5_paragraph3}">DriveShare met à votre disposition un tableau de recommandations tarifaires...</p>
                                    <h5 th:text="#{response5_subheading3}">C. Activez des promotions en fonction de la durée de location</h5>
                                    <p th:text="#{response5_paragraph4}">Pour encourager les réservations longues, DriveShare vous permet de proposer des promotions...</p>
                                    <ul>
                                        <li th:text="#{response5_list1}">10 % discount for a booking of more than 14 days</li>
                                        <li th:text="#{response5_list2}">20 % discount for a booking of more than 30 days</li>
                                        <li th:text="#{response5_list3}">You can also offer discounts of up to 50 % for very long bookings, according to your preferences.</li>
                                    </ul>
                                    <h5 th:text="#{response5_subheading4}">D. Soyez flexible avec les prix selon la demande</h5>
                                    <p th:text="#{response5_paragraph5}">En plus des promotions, il est important de rester flexible avec vos prix en fonction de la demande...</p>
                                </div>
                            </div>
                        </div>

                        <div style="border:1px solid rgba(173, 191, 204, 0.3); margin-bottom: 30px !important;border-radius: 10px;">
                            <div style="padding:30px;">
                                <div id="article6" class="article-response">
                                    <h3 th:text="#{response6_heading}">6. Qui peut louer ma voiture ?</h3>
                                    <p th:text="#{response6_paragraph1}">Pour garantir la sécurité de votre véhicule, DriveShare impose certains critères stricts aux locataires...</p>
                                    <h5 th:text="#{response6_subheading1}">A. Âge minimum</h5>
                                    <p th:text="#{response6_paragraph2}">Les conducteurs doivent être âgés d'au moins 23 ans pour louer une voiture sur DriveShare...</p>
                                    <h5 th:text="#{response6_subheading2}">B. Permis de conduire valide</h5>
                                    <p th:text="#{response6_paragraph3}">Le locataire doit posséder un permis de conduire valide depuis au moins 3 ans...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
