<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
  <div th:insert="~{admin/fragment-header :: admin-header-dashboard}"></div>

  <main class="content mx-5 my-4">

    <div class="container-fluid">
      <div class="mb-5">
        <div class="row mb-5">
          <!-- Total Revenue -->
          <div class="col-12 col-md-3">
            <div class="card border-0 shadow-sm">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="text-muted mb-2">Total Revenue</h5>
                  <span id="total-revenue-change" class="icon text-success">
            <i class="fas fa-arrow-up"></i>
          </span>
                </div>
                <h2 id="total-revenue" class="mb-0 fw-bold text-center">Loading...</h2>
              </div>
            </div>
          </div>

          <!-- Total Benefit -->
          <div class="col-12 col-md-3">
            <div class="card border-0 shadow-sm">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="text-muted mb-2">Total Benefit</h5>
                  <span id="total-benefit-change" class="icon text-success">
            <i class="fas fa-arrow-up"></i>
          </span>
                </div>
                <h2 id="total-benefit" class="mb-0 fw-bold text-center">Loading...</h2>
              </div>
            </div>
          </div>

          <!-- Total Users -->
          <div class="col-12 col-md-3">
            <div class="card border-0 shadow-sm">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="text-muted mb-2">Total Users</h5>
                  <span id="total-users-change" class="icon text-success">
            <i class="fas fa-arrow-up"></i>
          </span>
                </div>
                <h2 id="total-users" class="mb-0 fw-bold text-center">Loading...</h2>
              </div>
            </div>
          </div>

          <!-- Total Reservations -->
          <div class="col-12 col-md-3">
            <div class="card border-0 shadow-sm">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="text-muted mb-2">Total Reservations</h5>
                  <span id="total-reservations-change" class="icon text-success">
            <i class="fas fa-arrow-up"></i>
          </span>
                </div>
                <h2 id="total-reservations" class="mb-0 fw-bold text-center">Loading...</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center">

          <!-- Graphique des Revenues by Month -->
          <div class="col-lg-6 col-md-12 mb-4">
            <div style="background-color: white;
                        padding: 10px;
                        border-radius: 15px;">
              <canvas id="revenueByMonthChart" width="400" height="200"></canvas>
            </div>
          </div>

          <!-- Graphique des Revenues by Commune -->
          <div class="col-lg-6 col-md-12">
            <div style="background-color: white;
                        padding: 10px;
                        border-radius: 15px;">
              <div class="row mb-3">
                <div class="col-12 d-flex">
                  <div class="me-3">
                    <label for="year-select">Année: </label>
                    <select id="year-select"></select>
                  </div>
                  <div>
                    <label for="month-select">Mois: </label>
                    <select id="month-select">
                      <option value="1">Janvier</option>
                      <option value="2">Février</option>
                      <option value="3">Mars</option>
                      <option value="4">Avril</option>
                      <option value="5">Mai</option>
                      <option value="6">Juin</option>
                      <option value="7">Juillet</option>
                      <option value="8">Août</option>
                      <option value="9">Septembre</option>
                      <option value="10">Octobre</option>
                      <option value="11">Novembre</option>
                      <option value="12">Décembre</option>
                    </select>
                  </div>
                </div>
              </div>

              <canvas id="reservationByLocalityChart" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
        </div>
      <div class="row d-flex justify-content-around align-items-center">
        <div class="col-lg-6">
          <h3 class="fw-bold fs-4 my-3 text-center">Top 10 Cars</h3>
          <div class="table-responsive" style="height:400px;">

            <table class="display nowrap table table-striped table-hover text-center">
              <thead class="custom-thead">
              <tr class="text-center">
                <th></th>
                <th>Nombre de Réservations</th>
                <th>Montant Total Généré (€)</th>
                <th>Tendance</th>
              </tr>
              </thead>
              <tbody id="top10cars-table-body" class="text-center">
              <!-- Spinner -->
              <tr id="car-spinner">
                <td colspan="4" class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="fw-bold fs-4 my-3 text-center">Top 10 Users</h3>
          <div class="table-responsive" style="height:400px;">
            <table class="display nowrap table table-striped table-hover text-center">
              <thead class="custom-thead">
              <tr>
                <th></th>
                <th>Prénom et Nom</th>
                <th>Reservations</th>
                <th>Tendance</th>
              </tr>
              </thead>
              <tbody id="top10users-table-body">
              <!-- Spinner -->
              <tr id="user-spinner">
                <td colspan="4" class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </main>
</div>




</body>
</html>
