<!-- Admin Header -->
<div th:fragment="admin-header-dashboard" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Dashboard</h1>
  </header>
</div>

<div th:fragment="admin-header-users" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Utilisateurs</h1>
  </header>
</div>

<div th:fragment="admin-header-cars" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-4 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Véhicules</h1>
  </header>
</div>

<div th:fragment="admin-header-cars-détail" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-4 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Véhicules - Détails</h1>
  </header>
</div>

<div th:fragment="admin-header-reservations" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Réservations</h1>
  </header>
</div>

<div th:fragment="admin-header-notif" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Notifications - Chat-Messages</h1>
  </header>
</div>

<div th:fragment="admin-header-eval" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Evaluations</h1>
  </header>
</div>

<div th:fragment="admin-header-finance" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Finances</h1>
  </header>
</div>

<div th:fragment="admin-header-claims" class="admin-header">
  <header class="d-flex justify-content-center align-items-center py-3 mb-5">
    <h1 class="fw-bold">DriveShare Admin - Réclamations</h1>
  </header>
</div>



