<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Gestion des Paiements</title>
  <style>
    .kpi-card {
      border-radius: 10px;
      background-color: #f8f9fa;
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .kpi-title {
      font-size: 16px;
      margin-bottom: 10px;
      color: #333;
    }

    .kpi-value {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
    }

    .dataTables_wrapper {
      width: 100%;
      margin: 0 auto;
    }

    .chart-container {
      margin: 40px 0;
    }

    .btn {
      padding: 6px 12px;
      border-radius: 4px;
    }

    .action-buttons {
      display: flex;
      gap: 10px;
    }
  </style>

</head>
<body>
<div layout:fragment="content">
  <div th:insert="~{admin/fragment-header :: admin-header-finance}"></div>

<div class="my-5 mx-5">
  <!-- Section des KPI -->
  <div class="row mb-5">
    <!-- Total des Transactions -->
    <div class="col-12 col-md-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="text-muted mb-2">Total des Transactions</h5>
            <span class="icon text-success">
            <i class="fas fa-arrow-up"></i>
          </span>
          </div>
          <h2 id="kpi-total-transactions" class="mb-0 fw-bold text-center">Loading...</h2>
        </div>
      </div>
    </div>

    <!-- Pourcentage d'Annulations -->
    <div class="col-12 col-md-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="text-muted mb-2">% Remboursement</h5>
            <span class="icon text-info">
            <i class="fas fa-percentage"></i>
          </span>
          </div>
          <h2 id="kpi-cancellation-percentage" class="mb-0 fw-bold text-center">Loading...</h2>
        </div>
      </div>
    </div>

    <!-- Montant Total des Remboursements -->
    <div class="col-12 col-md-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="text-muted mb-2">Montant Total des Remboursements</h5>
            <span class="icon text-danger">
            <i class="fas fa-euro-sign"></i>
          </span>
          </div>
          <h2 id="kpi-total-refunds" class="mb-0 fw-bold text-center">Loading...</h2>
        </div>
      </div>
    </div>

    <!-- Gain Utilisateur Généré -->
    <div class="col-12 col-md-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="text-muted mb-2">Gain Utilisateur Généré</h5>
            <span class="icon text-success">
            <i class="fas fa-euro-sign"></i>
          </span>
          </div>
          <h2 id="kpi-user-generated-revenue" class="mb-0 fw-bold text-center">Loading...</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Graphiques -->
  <div class="row chart-container d-flex justify-content-center">
    <div class="col-lg-10">
      <canvas id="financialStatsChart" width="600" height="300" style="max-height:375px; !important"></canvas>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-4">
    <button onclick="generateReport()" class="btn btn-secondary mt-3">Générer un rapport</button>
  </div>

  <!-- Tableau des paiements -->
  <table id="paymentsTable" class="display nowrap" style="width:100%">
    <thead class="custom-thead">
    <tr>
      <th>User</th> <!-- Nouvelle colonne pour le nom complet de l'utilisateur -->
      <th>Prix Total</th>
      <th>Statut</th>
      <th>Mode de Paiement</th>
      <th>Date de Création</th>
      <th>Prix pour DriveShare</th>
      <th>Gain pour le propriétaire</th> <!-- Nouvelle colonne pour les gains -->
      <th>Montant du Remboursement</th> <!-- Nouvelle colonne pour les remboursements -->
      <th>Date de Fin de Location</th>
      <th>Paiement Effectué</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

</div>

</body>
</html>
