<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <!-- Dropdown items here -->
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-4">
        <div class="row">
            <div class="col-lg-6">
                <h1>All Users</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Locality</th>
                        <th>Code Postal</th>
                        <th>Téléphone</th>
                        <th>Photo</th>
                        <th>IBAN</th>
                        <th>BIC</th>
                        <th>Créé le</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.nom}"></td>
                        <td th:text="${user.prenom}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.adresse}"></td>
                        <td th:text="${user.locality}"></td>
                        <td th:text="${user.codePostal}"></td>
                        <td th:text="${user.telephoneNumber}"></td>
                        <td>
                            <img th:src="@{${user.photoUrl}}" alt="Photo" style="width: 50px; height: 50px;">
                        </td>
                        <td th:text="${user.iban}"></td>
                        <td th:text="${user.bic}"></td>
                        <td th:text="${user.createdAt}"></td>
                        <td>
                            <ul>
                                <li th:each="role : ${user.roles}" th:text="${role.role}"></li>
                            </ul>
                        </td>
                        <td>
                            <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</div>


<script>
        $(document).ready(function() {
            $('#usersTable').DataTable();
        });
    </script>

</body>
</html>
