<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Header fragment</title>
</head>

<body>
<header th:fragment="header">
    <nav class="navbar bg-body-tertiary p-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo et Aide à gauche -->
            <div class="d-flex align-items-center">
                <a class="p-0 m-0" th:href="@{/home}">
                    <img th:src="@{/images/DriveShareLogoBlanc.png}" alt="Logo" width="200" class="d-inline-block align-text-top">
                </a>
                <div class="vr mx-3" style="height: auto; background-color: white;"></div> <!-- Barre verticale -->
                <a class="text-white d-flex align-items-center" th:href="@{/faq}" style="text-decoration: none;">
                    <i class="fa fa-question-circle"></i>
                    <span class="ms-2" th:text="#{aide}"></span>
                </a>
            </div>

            <!-- Menu principal à droite -->
            <div class="d-flex align-items-center">
                <a class="p-2 m-0 me-3 louez-une-voiture" href="/cars" id="nosLocationsTab" th:text="#{button-louer}">Louez une voiture</a>

                <!-- Ligne séparatrice verticale -->
                <div class="vr mx-2" style="height: auto; width: 1px; background-color: white;"></div>

                <!-- Affichage de connexion ou dropdown utilisateur -->
                <div th:if="${#authorization.expression('isAnonymous()')}" class="me-5">
                    <a th:href="@{/login}" class="btn-connection" th:text="#{login}">Se connecter</a>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}" class="me-5">
                    <div class="dropdown">
                        <!-- Bouton dropdown qui contient l'image et le prénom -->
                        <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle me-2" width="40" height="40"
                                 th:src="${authenticatedUser.photoUrl != null} ? @{/uploads/profil/{photo}(photo=${authenticatedUser.photoUrl})} : @{/uploads/profil/defaultPhoto.png}"
                                 alt="Photo de profil">
                            <span th:text="${authenticatedUser.firstName}" class="text-light">Nom</span>
                        </button>

                        <!-- Menu dropdown -->
                        <div class="dropdown-menu dropdown-menu-end dropdown-profil" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item d-flex align-items-center list-dropdown" th:utext="'<i class=\'fa fa-user me-2\'></i>' + #{account}" th:href="@{/account}">
                                <i class="fa fa-user me-2"></i> Mon compte
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item d-flex align-items-center list-dropdown" th:utext="'<i class=\'fa fa-car me-2\'></i>' + #{cars}" th:href="@{/account/cars}">
                                <i class="fa fa-car me-2"></i> Mes voitures
                            </a>

                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item d-flex align-items-center list-dropdown"  th:utext="'<i class=\'fa-regular fa-calendar-check me-2\'></i>' + #{reservations}" th:href="@{/account/reservations}">
                                <i class="fa-regular fa-calendar-check me-2"></i> Mes réservations
                            </a>
                            <a class="dropdown-item d-flex align-items-center list-dropdown text-light bg-danger"  th:utext="'<i class=\'fa fa-sign-out me-2\'></i>' + #{logout}" th:href="@{/logout}">
                                <i class="fa fa-sign-out me-2"></i> Déconnexion
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Icônes de langue -->
                <div class="d-flex align-items-center justify-content-center">
                    <a th:href="@{|?lang=fr|}" class="p-0" style="text-decoration: none; color: white;">
                        <img th:src="@{/images/fr.png}" alt="Français" width="30" class="rounded-circle" style="display: inline-block; vertical-align: middle;">
                    </a>
                    <div class="vr mx-2" style="height: 30px; width: 1px; background-color: white;"></div>
                    <a th:href="@{|?lang=en|}" class="p-0 ml-2" style="text-decoration: none; color: white;">
                        <img th:src="@{/images/en.png}" alt="English" width="30" class="rounded-circle" style="display: inline-block; vertical-align: middle;">
                    </a>
                </div>
            </div>
        </div>
    </nav>

</header>
</body>
</html>
