<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Réservation</title>
  <script th:inline="javascript">
        var reservationId = /*[[${reservationId}]]*/ '0';
        var carId = /*[[${carId}]]*/ '0';
        var toUserId = /*[[${toUserId}]]*/ '0';
        var fromUserId = /*[[${fromUserId}]]*/ '0';

        console.log("Initialized variables:");
        console.log("reservationId: ", reservationId);
        console.log("carId: ", carId);
        console.log("toUserId: ", toUserId);
        console.log("fromUserId: ", fromUserId);
  </script>
</head>
<body>
<div layout:fragment="content" class="container mt-5 mb-5">
  <div id="reservation-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="text-center fw-bold">
            <h1 th:text="'Réservation n° ' + ${reservationId}"></h1>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="text-center statut-box">
            <h3 th:text="'Le statut de la réservation est : ' + ${reservationStatus}"></h3>
          </div>
          <div class="discussion">
            <div class="row mt-3">
              <div class="col-lg-12 d-flex align-items-center">
                <img src="/icones/chat-reservation.png" alt="Profile Picture">
                <h3>Espace de discussion</h3>
              </div>
              <div class="col-lg-12 chat-area">
                <!-- Zone de chat entre le propriétaire et le locataire -->
              </div>
            </div>
            <div class="row chat-input m-3">
              <div class="col-lg-10">
                <input type="hidden" id="reservationId" th:value="${reservationId}">
                <input type="hidden" id="toUserId" th:value="${toUserId}">
                <input type="hidden" id="fromUserId" th:value="${fromUserId}">
                <textarea id="message" class="form-control full-width" rows="3" placeholder="Écrivez votre message ici..."></textarea>
              </div>
              <div class="col-lg-2 d-flex align-items-center">
                <button id="send-button" class="btn btn-primary w-100" onclick="sendMessage(event)">Envoyer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="car-reservation-card">
            <div>
              <img th:src="@{${carImageUrl}}" class="img-fluid" alt="Image de la voiture">
            </div>
            <div class="car-reservation-body">
              <p th:text="${carBrand}+' '+${carModel}+' - ' +${carFuel}"></p>
              <hr class="bg-light fw-bold">
              <p class="date-container">
                <span class="fw-bold" th:text="${reservationStartDate}"></span>
                <img src="/icones/arrow-reservation.png" alt="arrow" style="width:16px;height:16px;">
                <span class="fw-bold" th:text="${reservationEndDate}"></span>
              </p>
              <hr class="bg-light fw-bold">
              <p th:text="${carAddress}"></p>
              <hr class="bg-light fw-bold">
            </div>
          </div>

          <div class="mt-4">
            <p th:text="${isOwner} ? 'Locataire' : 'Propriétaire'"></p>
            <div class="d-flex align-items-center mt-2 car-reservation-user">
              <img th:src="${profileUser.photoUrl}" class="img-fluid rounded-circle" alt="Photo de profil" width="50">
              <p class="mb-0 ms-2" th:text="${#strings.capitalize(profileUser.prenom.substring(0,1)) + profileUser.prenom.substring(1).toLowerCase() + ' ' + profileUser.nom.toUpperCase()}"></p>
            </div>
          </div>
          <div class="mt-4">
            <p>Détails de la location</p>
            <div>
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>Durée de la location</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Prix de la location (hors assurance)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Prix Total</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Reste a payer</td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
