<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Réservation</title>
  <style>
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .star-rating input {
        display: none;
    }

    .star-rating label {
        font-size: 2rem;
        color: #ddd;
        cursor: pointer;
    }

    .star-rating input:checked ~ label {
        color: #ffc107; /* Couleur dorée pour les étoiles sélectionnées */
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: #ffc107; /* Couleur dorée pour les étoiles survolées */
    }

.chat-message.self {
    text-align: right;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 80%;
}

.chat-message.other {
    text-align: left;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
    display: inline-block;
    max-width: 80%;
}

.message-profile {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.message-container.other-content {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: ##DFE7EC;
}

.self-content {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #DFE7EC;
}

.other-content{
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #DFE7EC;
    }

.message-text {
    margin-bottom: 5px;
}

.message-date {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 5px;
    text-align: right;
}

.message-self-container{
  text-align: right;
}

.message-other-container{
  text-align: left;
}

  </style>

</head>
<body>
<div layout:fragment="content" class="container mt-5 mb-5">
  <div id="reservation-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="text-center fw-bold">
            <h1 class="bold" th:text="'Réservation n° ' + ${reservationId}"></h1>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">

          <div class="text-center statut-box">
            <h3 class="bold">
              <!-- Statut CONFIRMED -->
              <span th:if="${reservationStatus == 'CONFIRMED'}">
            <span th:if="${isOwner}">La réservation a été confirmée</span>
            <span th:unless="${isOwner}">Vous avez confirmé la réservation</span>
        </span>

              <!-- Statut CANCELLED -->
              <span th:if="${reservationStatus == 'CANCELLED'}">
            <span th:if="${isOwner}">La réservation a été annulée</span>
            <span th:unless="${isOwner}">Vous avez annulé la réservation</span>
        </span>

              <!-- Statut PAYMENT_PENDING -->
              <span th:if="${reservationStatus == 'PAYMENT_PENDING'}">
            <span th:if="${isOwner}">En attente de paiement pour la réservation</span>
            <span th:unless="${isOwner}">Veuillez effectuer le paiement pour confirmer la réservation</span>
        </span>

              <!-- Statut FINISHED -->
              <span th:if="${reservationStatus == 'FINISHED'}">
            <span th:if="${isOwner}">La réservation est terminée</span>
            <span th:unless="${isOwner}">Vous avez terminé la réservation</span>
        </span>

              <!-- Statut REJECTED -->
              <span th:if="${reservationStatus == 'REJECTED'}">
            <span th:if="${isOwner}">Vous avez refusé la réservation</span>
            <span th:unless="${isOwner}">Votre réservation a été refusée par le propriétaire</span>
        </span>

              <!-- Statut EXPIRED -->
              <span th:if="${reservationStatus == 'EXPIRED'}">
            <span th:if="${isOwner}">La réservation a expiré</span>
            <span th:unless="${isOwner}">Votre réservation a expiré</span>
        </span>

              <!-- Statut NOW -->
              <span th:if="${reservationStatus == 'NOW'}">
            <span th:if="${isOwner}">La réservation est en cours</span>
            <span th:unless="${isOwner}">Votre réservation est en cours</span>
        </span>

              <!-- Statut RESPONSE_PENDING -->
              <span th:if="${reservationStatus == 'RESPONSE_PENDING'}">
            <span th:if="${isOwner}">Une réponse à la demande de réservation est attendue</span>
            <span th:unless="${isOwner}">Votre demande de réservation est en attente de réponse</span>
        </span>
            </h3>
          </div>



          <!-- Zone de discussion -->
          <div class="discussion">
            <div class="row mt-3">
              <div class="col-lg-12 d-flex align-items-center mb-3">
                <img src="/icones/chat-reservation.png" alt="Profile Picture">
                <h3>Espace de discussion</h3>
              </div>
              <div class="col-lg-12 chat-area">
                <!-- Zone de chat -->
              </div>
            </div>
            <div class="row chat-input m-3">
              <div class="col-lg-10">
                <input type="hidden" id="reservationId" th:value="${reservationId}">
                <input type="hidden" id="reservationStartDate" th:value="${reservationStartDate}">
                <input type="hidden" id="reservationEndDate" th:value="${reservationEndDate}">
                <input type="hidden" id="fromUserId" th:value="${fromUserId}">
                <input type="hidden" id="toUserId" th:value="${toUserId}">
              </div>
              <div class="chat-input-container">
                <textarea id="message" class="form-control full-width" rows="3" placeholder="Écrivez votre message ici..."></textarea>
                <div class="text-center" style="margin-top:20px">
                  <button id="send-button" class="btn btn-primary enregistrer w-50" onclick="sendMessage(event)" >Envoyer</button>
                </div>
              </div>
            </div>
          </div>




        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="car-reservation-card">
            <div>
              <img th:src="@{${carImageUrl}}" class="img-fluid" alt="Image de la voiture">
            </div>
            <div class="car-reservation-body">
              <p th:text="${carBrand}+' '+${carModel}+' - ' +${carFuel}"></p>
              <hr class="fw-bold" style="background-color:#DFE7EC;">
              <p class="date-container">
                <span class="fw-bold" th:text="${reservationStartDate}"></span>
                <img src="/images/arrow-reservation.png" alt="arrow" style="width:16px;height:16px;">
                <span class="fw-bold" th:text="${reservationEndDate}"></span>
              </p>

              <hr class="bg-light fw-bold">
              <p th:text="${carAddress}"></p>
              <hr class="bg-light fw-bold">
            </div>
          </div>

          <!-- Afficher les détails du propriétaire ou locataire -->
          <div class="profile-info align-items-center mt-4 mb-4">
            <div class="mb-2">
              <span th:text="${isOwner ? 'Le Locataire' : 'Le Propriétaire'}" class="bold"></span> <!-- Inverser l'affichage -->
            </div>
            <div class="bg-white" style="border-radius:8px; padding: 15px;">
              <div class="bold d-flex align-items-center">
                <img th:src="@{'/uploads/profil/' + ${profileUser.photoUrl}}"
                     alt="Photo de profil"
                     class="rounded-circle me-3"
                     style="width: 50px; height: 50px;">

                <!-- Conteneur pour le prénom et le nom côte à côte -->
                <div>
                  <span th:text="${#strings.capitalize(profileUser.firstName.toLowerCase())}"></span>
                  <span th:text="${profileUser.lastName.toUpperCase()}"></span> <!-- Nom en majuscules -->
                </div>
              </div>
            </div>

          </div>


          <!-- Tableau de récapitulatif (toujours visible) -->
          <div class="mt-4">
            <div class="mb-2">
              <span class="bold ">Détails de la location</span>
            </div>
            <table class="table text-center" style="border-collapse: separate; border-spacing: 0; border-radius: 8px; overflow: hidden;">
              <tbody>
              <tr class="bg-white">
                <td style="padding:15px;">Durée de la location</td>
                <td style="background-color: #DFE7EC; padding:15px;font-weight:bold;" th:text="${duration} + ' jours'"></td>
              </tr>
              <tr class="bg-white">
                <td style="padding:15px;">Prix TTC</td>
                <td style="background-color: #DFE7EC; padding:15px;font-weight:bold;" th:text="${totalPrice} + ' €'"></td>
              </tr>
              <tr class="bg-white">
                <td style="padding:15px; color: #DC143C">Reste à payer</td>
                <td style="background-color: #DC143C; padding:15px; color:white; font-weight:bold;" th:text="${remainingAmount} + ' €'"></td>
              </tr>
              </tbody>
            </table>




          </div>


          <div class="mt-4">
            <!-- Bouton de paiement (uniquement pour les réservations PAYMENT_PENDING) -->

            <div th:if="${reservationStatus == 'PAYMENT_PENDING' and !isOwner }">
              <a href="javascript:void(0);" class="btn btn-outline-success w-100" onclick="redirectToPayment()">Payer</a>
            </div>

            <!-- Bouton pour annuler la réservation (uniquement pour le locataire et statut CONFIRMED) -->
            <div th:if="${reservationStatus == 'CONFIRMED'} and !${isOwner}">
              <button id="cancel-button" class="btn btn-danger w-100"
                      th:onclick="'cancelReservation(event, ' + ${reservationId} + ')'">Annuler la réservation</button>
            </div>


            <!-- Bouton de réclamation (uniquement pour les réservations CONFIRMED ou NOW et s'il n'y a pas encore de plainte) -->
            <div th:if="${(reservationStatus == 'CONFIRMED' or reservationStatus == 'NOW') and !complaintExists}">
              <button id="claim-button" class="btn btn-outline-warning w-100 mt-2"
                      th:onclick="'openClaimModal(' + (${isOwner} ? 'true' : 'false') + ')'">
                Soumettre une plainte
              </button>
            </div>



            <div  th:if="${reservationStatus == 'CONFIRMED'} and ${isOwner}">
              <!-- Bouton pour télécharger le contrat de location -->
              <a href="#" class="btn btn-outline-info w-100 mt-2" th:href="'/api/download-contract/' + ${reservationId}">
                Télécharger le contrat de location
              </a>

            </div>
            <!-- Message si la réservation est expirée ou rejetée -->
            <div  th:if="${reservationStatus == 'EXPIRED' or reservationStatus == 'REJECTED'}">
              <div class="alert alert-warning">
                <p th:text="'Le statut de la réservation est : ' + ${reservationStatus}"></p>
              </div>
            </div>
          </div>




          <!-- Bouton pour laisser une évaluation (uniquement pour les réservations FINISHED) -->
          <div class="mt-4" th:if="${reservationStatus == 'FINISHED' and !evaluationExists and !isOwner}">
            <button id="leave-review-button" class="btn btn-outline-info w-100"  onclick="openReviewModal()">Laisser une évaluation</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour laisser une évaluation -->
  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center bold">
          <h5 class="modal-title" id="reviewModalLabel">Laisser une évaluation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="review-form">
            <div class="mb-3">
              <label for="rating" class="form-label">Note</label>
              <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="5 étoiles">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="4 étoiles">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="3 étoiles">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="2 étoiles">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="1 étoile">&#9733;</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Commentaire</label>
              <textarea id="comment" class="form-control" rows="4" style="height:200px; !important" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-info enregistrer">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal pour soumettre une réclamation -->
  <div class="modal" id="claimModal" tabindex="-1" aria-labelledby="claimModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="claimModalLabel">Soumettre une plainte</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="claim-form">
            <div class="mb-3">
              <label for="claimMessage" class="form-label">Dites-nous ce qui ne va pas ?</label>
              <textarea id="claimMessage" class="form-control" rows="4" style="height:200px !important;"
                        placeholder="Le service administratif vous répondra dans les plus brefs délais..."></textarea>
            </div>
            <!-- Champs cachés pour la réservation et le rôle du plaignant -->
            <input type="hidden" id="claimReservationId">
            <input type="hidden" id="claimantRole">
            <div class="text-center">
              <button type="submit" class="btn btn-outline-info enregistrer">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>

</body>
</html>
