<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Réservation</title>
  <style>
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .star-rating input {
        display: none;
    }

    .star-rating label {
        font-size: 2rem;
        color: #ddd;
        cursor: pointer;
    }

    .star-rating input:checked ~ label {
        color: #ffc107; /* Couleur dorée pour les étoiles sélectionnées */
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: #ffc107; /* Couleur dorée pour les étoiles survolées */
    }
.chat-message.self {
    text-align: right;
    background-color: #d1ffd1; /* Couleur de fond pour l'utilisateur actuel */
    border-radius: 10px 10px 0 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 80%;
}

.chat-message.other {
    text-align: left;
    background-color: #f1f1f1; /* Couleur de fond pour l'autre utilisateur */
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
    display: inline-block;
    max-width: 80%;
}

.message-profile {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.message-content {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.message-text {
    margin-bottom: 5px;
}

.message-date {
    font-size: 0.8rem;
    color: #888;
    margin-top: 5px;
    text-align: right;
}





  </style>
  <script th:inline="javascript">
      document.addEventListener('DOMContentLoaded', function() {
          var reservationStartDate = document.getElementById("reservationStartDate").value;
          var reservationEndDate = document.getElementById("reservationEndDate").value;

          console.log("Initialized variables:");
          console.log("reservationStartDate: ", reservationStartDate);
          console.log("reservationEndDate: ", reservationEndDate);

          function parseDateString(dateStr) {
              const months = {
                  'Jan.': '01', 'Fév.': '02', 'Mar.': '03', 'Avr.': '04', 'Mai': '05', 'Juin': '06',
                  'Juil.': '07', 'Aoû.': '08', 'Sep.': '09', 'Oct.': '10', 'Nov.': '11', 'Déc.': '12'
              };

              const dateParts = dateStr.split(' ');
              const day = dateParts[1];
              const month = months[dateParts[2]];
              const year = dateParts[3];
              if (!month) {
                  console.error('Le mois est introuvable pour la date:', dateStr);
                  return null;
              }
              return `${year}-${month}-${day.padStart(2, '0')}`;
          }

          if (reservationStartDate && reservationEndDate) {
              reservationStartDate = parseDateString(reservationStartDate);
              reservationEndDate = parseDateString(reservationEndDate);
          } else {
              console.error('Les dates de début et de fin sont nécessaires.');
          }

          console.log("reservationStartDate: ", reservationStartDate);
          console.log("reservationEndDate: ", reservationEndDate);

      function formatDateString(dateStr) {
          const dateObj = new Date(dateStr);
          return dateObj.toISOString().split('T')[0]; // Formate en yyyy-MM-dd
      }

    window.redirectToPayment = function() {
        const reservationId = document.getElementById('reservationId').value;
        let reservationStartDate = document.getElementById('reservationStartDate').value;
        let reservationEndDate = document.getElementById('reservationEndDate').value;

        if (!reservationStartDate || !reservationEndDate) {
            alert('Les dates de début et de fin sont incorrectes.');
            return;
        }

        // Formate les dates
        reservationStartDate = formatDateString(reservationStartDate);
        reservationEndDate = formatDateString(reservationEndDate);

        const url = `/reservation/payment/${reservationId}?dateDebut=${encodeURIComponent(reservationStartDate)}&dateFin=${encodeURIComponent(reservationEndDate)}`;
        window.location.href = url;
    }
      });
  </script>
</head>
<body>
<div layout:fragment="content" class="container mt-5 mb-5">
  <div id="reservation-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="text-center fw-bold">
            <h1 th:text="'Réservation n° ' + ${reservationId}"></h1>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="text-center statut-box">
            <h3 th:text="'Le statut de la réservation est : ' + ${reservationStatus}"></h3>
          </div>
          <!-- Zone de discussion -->
          <div class="discussion">
            <div class="row mt-3">
              <div class="col-lg-12 d-flex align-items-center">
                <img src="/icones/chat-reservation.png" alt="Profile Picture">
                <h3>Espace de discussion</h3>
              </div>
              <div class="col-lg-12 chat-area">
                <!-- Zone de chat entre le propriétaire et le locataire -->
              </div>
            </div>
            <div class="row chat-input m-3">
              <div class="col-lg-10">
                <input type="hidden" id="reservationId" th:value="${reservationId}">
                <input type="hidden" id="reservationStartDate" th:value="${reservationStartDate}">
                <input type="hidden" id="reservationEndDate" th:value="${reservationEndDate}">
                <input type="hidden" id="fromUserId" th:value="${fromUserId}">
                <input type="hidden" id="toUserId" th:value="${toUserId}">
              </div>
              <div class="chat-input-container">
                <textarea id="message" class="form-control full-width" rows="3" placeholder="Écrivez votre message ici..."></textarea>
                <button id="send-button" class="btn btn-primary w-100" onclick="sendMessage(event)">Envoyer</button>
              </div>
            </div>
          </div>

          <!-- Bouton de réclamation -->
          <div class="mt-4">
            <button id="claim-button" class="btn btn-warning w-100" onclick="openClaimModal()">Faire une réclamation</button>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="car-reservation-card">
            <div>
              <img th:src="@{${carImageUrl}}" class="img-fluid" alt="Image de la voiture">
            </div>
            <div class="car-reservation-body">
              <p th:text="${carBrand}+' '+${carModel}+' - ' +${carFuel}"></p>
              <hr class="bg-light fw-bold">
              <p class="date-container">
                <span class="fw-bold" th:text="${reservationStartDate}"></span>
                <img src="/images/arrow-reservation.png" alt="arrow" style="width:16px;height:16px;">
                <span class="fw-bold" th:text="${reservationEndDate}"></span>
              </p>
              <hr class="bg-light fw-bold">
              <p th:text="${carAddress}"></p>
              <hr class="bg-light fw-bold">
            </div>
          </div>
          <div>
            <!-- Vérifiez si c'est le propriétaire -->
            <p th:if="${isOwner}" class="fw-bold">Propriétaire</p>

            <!-- Sinon, affichez Locataire -->
            <p th:unless="${isOwner}" class="fw-bold">Locataire</p>
          </div>
          <!-- Bouton pour télécharger le contrat de location -->
          <div class="mt-4" th:if="${reservationStatus == 'CONFIRMED'}">
            <p>Détails de la location</p>
            <div>
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>Durée de la location</td>
                  <td th:text="${duration} + ' jours'"></td>
                </tr>
                <tr>
                  <td>Prix Total</td>
                  <td th:text="${totalPrice} + ' €'"></td>
                </tr>
                <tr>
                  <td>Reste à payer</td>
                  <td th:text="'0 €'"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- Existing button for cancelling the reservation -->
            <button id="cancel-button" class="btn btn-danger w-100" th:onclick="'cancelReservation(event, ' + ${reservationId} + ')'">Annuler la réservation</button>

            <!-- New button for downloading the contract -->
            <a href="#" class="btn btn-primary w-100 mt-2" th:href="'/api/download-contract/' + ${reservationId}">Télécharger le contrat de location</a>
          </div>

          <!-- Bouton de paiement -->
          <div class="mt-4" th:if="${reservationStatus == 'PAYMENT_PENDING'}">
            <p>Détails de la location</p>
            <div>
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>Durée de la location</td>
                  <td th:text="${duration} + ' jours'"></td>
                </tr>
                <tr>
                  <td>Prix TTC</td>
                  <td th:text="${totalPrice} + ' €'"></td>
                </tr>
                <tr>
                  <td>Reste à payer</td>
                  <td th:text="${totalPrice} + ' €'"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <a href="javascript:void(0);" class="btn btn-success w-100" onclick="redirectToPayment()">Payer</a>
          </div>

          <div class="mt-4" th:if="${reservationStatus == 'CONFIRMED'} and ${isOwner}">
            <a href="#" class="btn btn-primary w-100 mt-2" th:href="'/api/download-contract/' + ${reservationId}">
              Télécharger le contrat de location
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pour laisser une évaluation -->
  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Laisser une évaluation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="review-form">
            <div class="mb-3">
              <label for="rating" class="form-label">Note</label>
              <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="5 étoiles">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="4 étoiles">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="3 étoiles">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="2 étoiles">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="1 étoile">&#9733;</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Commentaire</label>
              <textarea id="comment" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Bootstrap pour soumettre une réclamation -->
  <div class="modal" id="claimModal" tabindex="-1" aria-labelledby="claimModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="claimModalLabel">Faire une réclamation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="claim-form">
            <div class="mb-3">
              <label for="claimMessage" class="form-label">Votre réclamation</label>
              <textarea id="claimMessage" class="form-control" rows="4"></textarea>
            </div>
            <input type="hidden" th:value="${reservationId}"> <!-- ID de la réservation -->
            <input type="hidden" id="claimantRole"> <!-- Rôle de l'utilisateur sera défini dynamiquement -->
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openReviewModal() {
        var reviewModal = new bootstrap.Modal(document.getElementById('reviewModal'));
        reviewModal.show();
    }

    document.getElementById('review-form').addEventListener('submit', function(event) {
        event.preventDefault();

        var rating = document.querySelector('input[name="rating"]:checked')?.value;
        var comment = document.getElementById('comment').value;
        var reservationId = document.getElementById('reservationId').value;

        if (!rating || !comment) {
            alert("Veuillez remplir tous les champs.");
            return;
        }

        var review = {
            note: rating,
            avis: comment,
            reservationId: reservationId
        };

        fetch('/api/review', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(review)
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(error => {
                    throw new Error(error.message || 'Something went wrong');
                });
            }
            return response.json();
        })
        .then(data => {
            if (data && data.id) {
                alert('Votre évaluation a été envoyée avec succès.');
                var reviewModal = bootstrap.Modal.getInstance(document.getElementById('reviewModal'));
                reviewModal.hide();
                document.getElementById('leave-review-button').style.display = 'none';
            } else {
                throw new Error('Erreur lors de l\'enregistrement de l\'évaluation.');
            }
        })
        .catch(error => {
            console.error('Erreur:', error);
            alert('Une erreur s\'est produite lors de l\'envoi de votre évaluation : ' + error.message);
        });
    });

    function cancelReservation(event, reservationId) {
        event.preventDefault();

        var confirmation = confirm("Êtes-vous sûr de vouloir annuler cette réservation ?");
        if (confirmation) {
            fetch(`/api/cancelReservation/${reservationId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("La réservation a été annulée avec succès.");
                    // Mettre à jour le statut de la réservation dans l'interface utilisateur
                    document.querySelector('.statut-box h3').innerText = "Le statut de la réservation est : ANNULÉ";
                    // Masquer le bouton d'annulation
                    document.getElementById('cancel-button').style.display = 'none';
                    // Mettre à jour la card pour afficher que la location est annulée
                    document.querySelector('.car-reservation-body p').innerText = "Location annulée";
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Une erreur s\'est produite lors de l\'annulation de la réservation.');
            });
        }
    }

 function openClaimModal() {
        // Obtenir l'ID de réservation à partir de l'URL
        var pathArray = window.location.pathname.split('/');
        var reservationId = pathArray[pathArray.length - 1]; // Supposons que l'ID de réservation est à la fin de l'URL

        // Vérifiez que l'ID de réservation est valide
        if (!reservationId || isNaN(reservationId)) {
            alert("ID de réservation invalide.");
            return;
        }

        // Récupérer le rôle de l'utilisateur pour cette réservation
        fetch(`/api/claims/${reservationId}/role`)
            .then(response => response.json())
            .then(data => {
                if (data && data.role) {
                    document.getElementById('claimantRole').value = data.role; // Remplir le champ caché avec le rôle
                    document.getElementById('reservationId').value = reservationId; // Remplir l'ID de la réservation
                } else {
                    console.error('Impossible de déterminer le rôle pour cette réservation.');
                    alert("Erreur lors de la récupération du rôle.");
                    return;
                }
            })
            .catch(error => {
                console.error('Erreur lors de la récupération du rôle de l\'utilisateur :', error);
                alert("Erreur lors de la récupération du rôle.");
            });

        // Ouvrir la modal de réclamation
        var claimModal = new bootstrap.Modal(document.getElementById('claimModal'));
        claimModal.show();
    }

    document.getElementById('claim-form').addEventListener('submit', function(event) {
        event.preventDefault();

        var reservationId = document.getElementById('reservationId').value;
        var claimantRole = document.getElementById('claimantRole').value;
        var message = document.getElementById('claimMessage').value;

        if (!message || !reservationId || !claimantRole) {
            alert("Veuillez remplir tous les champs.");
            return;
        }

        var claim = {
            message: message,
            reservationId: reservationId,
            claimantRole: claimantRole
        };

        // Envoyer la réclamation au serveur
        fetch('/api/claims/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(claim)
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(error => {
                    throw new Error(error.message || 'Une erreur s\'est produite');
                });
            }
            return response.json();
        })
        .then(data => {
            alert('Votre réclamation a été envoyée avec succès.');
            var claimModal = bootstrap.Modal.getInstance(document.getElementById('claimModal'));
            claimModal.hide();
        })
        .catch(error => {
            console.error('Erreur:', error);
            alert('Une erreur s\'est produite lors de l\'envoi de votre réclamation : ' + error.message);
        });
    });

  </script>
</div>
</body>
</html>
