<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>Something went wrong</h1>
        <p th:text="${error}"></p>
        <p th:text="${message}"></p>
        <p th:text="${timestamp}"></p>
        <p th:text="${trace}"></p>
    </div>



    <!-- Reservation FIXED -->
</div>

</body>
</html>
