body {
font-family: 'Nunito', sans-serif !important;
    background-color: #F3F5F8 !important;
     }

h1, h2, h3, h4, h5, h6 {
 font-family: 'Roboto', sans-serif !important;
 }


/* nav */

nav {
 background-color: #354C6F;
 }

.navbar-brand-custom {
    display: inline-block;
    padding: 8px 12px;
    background-color: #9EABB3;
    color: #FBFBFBFB;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
    transition: box-shadow 0.3s;
}

.navbar-brand-custom:hover,
.navbar-brand-custom:focus {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1); /* Ajoute un effet d'ombrage au survol */
    text-decoration: none;
    color: #FBFBFBFB;
}

/*HOME*/

.big-circle-left {
    width: 550px; /* Ajustez selon vos besoins */
    height: 550px; /* Ajustez selon vos besoins */
    background-color: #DFE7EC; /* Couleur du rond */
    border-radius: 50%; /* Rendre le rond */
    position: relative; /* Position relative pour le débordement */
    z-index: 1; /* Assurer que le rond de gauche est au-dessus */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}


.map {
 width: 700px; /* Remplacez par la largeur souhaitée */
    height: 700px; /* Remplacez par la hauteur souhaitée */
    margin-left : -125px;
    position: relative; /* Position relative pour le débordement */
    z-index: 1; /* Assurer que le rond de droite est en dessous */
    border-radius: 50%; /* Assurez-vous que le conteneur de la carte est un cercle */
    overflow: hidden; /* Mas
}

.form-control {
    border-radius: 20px; /* Ajustez la valeur selon vos préférences */
}

.custom-search-button {
  background-color: #354C6F; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  border: 2px solid #354C6F; /* Bordure */
  border-radius: 10px; /* Bordure arrondie */
  padding-inline: 25px;
  font-size: 16px; /* Taille de la police */
}

.custom-search-button:hover {
  background-color: #2E425C; /* Couleur de fond au survol */
  border-color: #2E425C; /* Bordure au survol */
}


.zoom-img:hover {
    transform: scale(1.1); /* Zoom effect on image hover */
}

/* CARS */

#filters {
    /* Style de la section des filtres */
    /* Par exemple : */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-img-top {
      height: 250px; /* Taille fixe pour les images */
      width:250px
      object-fit: cover; /* Assurez-vous que les images couvrent toute la carte */
    }

.card-link {
    text-decoration: none;
    color:black;
}

.card:hover {
    border: 2px solid #354C6F; /* Couleur bleue par exemple */
}

.priceIndex {
    padding: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #354C6F;
    border-radius: 20px;
    color: white;
    font-weight : bold
}

.form-shadow{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding : 20px;
    padding-top : 30px;
    padding-bottom : 30px;
}

.search-container {
    margin-left : 100px;
    margin-right : 100px;
}

.search-form{
    background-color:#9EABB3;
        border-radius: 20px;


}


.search-container input[type="text"] {
    background-color: #9EABB3;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.search-container input[type="text"]:focus {
    outline: none;
}

.search-container .btn {
    background-color: #354C6F;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin : 20px
}

.search-container .btn:hover {
    background-color: #2e425d;
}




/* CAR */

    .custom-border {
        border-radius: 20px;
        border: 2px solid black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre ici */
        width: 300px; /* Largeur du cadre */

    }

    .custom-reserver {
        background-color: #DFE7EC !important;
        border-radius: 20px;
        width: 100%;
        color: black; /* Couleur de texte normale */
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Animation de transition */


    }

    .custom-reserver:hover {
        background-color: #354C6F !important; /* Couleur plus foncée au survol */
        transform: scale(1.05); /* Effet de zoom léger au survol */
        color: white !important;
    }

    .rounded-custom-border {
        border-radius: 20px;
        border: 1px solid #D3D3D3;
        padding: 20px;
    }

    .custom-cond {
        background-color: #DFE7EC !important;
        border-radius: 10px;
        padding: 30px;
        margin: 10px;
    }

    .star-filled {
        color: gold; /* Couleur dorée */
    }

    /*LOGIN*/

    .custom-form {
        background-color: #DFE7EC
        text:center;


    }

    .custom-card {
        background-color: #DFE7EC !important;
         border: none !important; /* Supprimer la bordure */
         border-radius: 20px !important;;
         box-shadow: none !important;
         height : 800px;
    }
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
    }
    .card,
    .card-img {
        border-radius: 20px;
    }



    /* Style de l'onglet de connexion actif *//* Style de l'onglet de connexion actif */
  .nav-link#loginTab.active {
      background-color: #354C6F; /* Couleur de fond pour l'onglet actif */
      color: #FFF; /* Couleur du texte pour l'onglet actif */
  }

  /* Style de l'onglet d'inscription lorsque l'onglet de connexion n'est pas actif */
  .nav-link#registerTab:not(.active) {
      background-color: #DFE7EC; /* Couleur de fond pour l'onglet inactif */
      color: #000; /* Couleur du texte pour l'onglet inactif */
  }
    .nav-link#registerTab.active {
        background-color: #354C6F; /* Couleur de fond pour l'onglet actif */
        color: #FFF; /* Couleur du texte pour l'onglet actif */
    }

    /* Style de l'onglet d'inscription lorsque l'onglet de connexion n'est pas actif */
    .nav-link#loginTab:not(.active) {
        background-color: #DFE7EC; /* Couleur de fond pour l'onglet inactif */
        color: #000; /* Couleur du texte pour l'onglet inactif */
    }


    .nav-link {
        border-top-left-radius: 10px !important; /* Coin supérieur gauche arrondi */
        border-top-right-radius: 10px !important; /* Coin supérieur droit arrondi */
    }

    .card-header {
        background-color : #FBFBFB;
    }

    .form-control {
        border-radius: 15px; /* Ajustez la valeur selon vos préférences */
    }




.progress-container {
  width: 100%; /* Largeur totale de la barre de progression */
}




.icon {
  margin-right: 40px; /* Ajoute de l'espace entre les icônes */
}

.arrow {
  position: relative; /* Position relative pour permettre le déplacement */
  opacity: 0; /* Définir l'opacité à 0 au départ */
  animation: moveArrow 4s infinite; /* Animation infinie */
}

@keyframes moveArrow {
  0%, 20% {
    opacity: 0; /* Flèche invisible au début et à la fin de chaque déplacement */
    left: -5px; /* Déplacement initial (hors de la vue) */
  }
  25%, 30% {
    opacity: 1; /* Flèche visible */
    left: 0; /* Déplacement visible */
  }
  35%, 40% {
    opacity: 1; /* Flèche visible */
    left: 5px; /* Déplacement visible */
  }
  45%, 50% {
    opacity: 1; /* Flèche visible */
    left: 10px; /* Déplacement visible */
  }
  55%, 60% {
    opacity: 1; /* Flèche visible */
    left: 15px; /* Déplacement visible */
  }
  /* Continuer de la même manière pour les autres étapes */
}


/* FORMULAIRE AJOUT CAR */

/*PROGRESS BAR*/

.form-step{
    display:none;
}

.form-step.active{
    display:block;
}

.form-control {
    height: 2.5rem !important;
    margin-bottom: 2rem;
    border-radius: 15px !important;
    font-size: 1.3rem;
    padding: 0 2rem;
    color: #323648;
    border: 1px solid rgba(33, 61, 83, .1);
}

.question-badge{
    margin-left: 1rem;
    padding: 2px 7px;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: rgba(173, 191, 204, .4);
    cursor: pointer;
}

.offer-container{
    max-width: 350px !important;
    position: relative;
}

.disabled{
    cursor: default;
    pointer-events: none;
    opacity: .5;
}

.offer-container.disabled .unavailable-overlay{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-container.disabled .unavailable-overlay p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    background-color: rgb(218 218 218 / 70%);
    padding: 8px;
    border-radius: 5px;
    z-index: 1;
}

.offer-hr{
    border: solid 2px #323648;
    width: 60%;
    text-align:center;
}

.offer-card{
    font-weight:bold;
    font-size:0.5rem;
}

.offer-card-border{
    border: solid 2px #354C6F;
    border-radius : 15px;
    padding:30px;
    background-color:white;
}

.text-coin {
    background-color: #354C6F;
    color: white;
    border-radius:20px;
    padding : 10px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #CBD2D9 !important;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
}

.bloc-progress{
    background-color: #CBD2D9 !important;
    border-radius:15px;
    margin-right : 20px;
    padding: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.inner-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #354C6F;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid  #354C6F;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: black !important;
    z-index:100;
}

.p {
    margin-left: 10px;
    margin-bottom: 0;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color:black;
}

.circle.active {
    background-color: #007bff;
    color: white !important;
}

.line {
    width: 2px;
    height: 50px;
    background-color: lightgray;
    position: absolute;
    top: 30px;
}

.line.active {
    background-color: #007bff;
}

.btn-prev {
    display: block !important;
    width: 100%;
    padding: 15px !important;
    text-align: center !important;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#354C6F !important;
    color:white !important;
}

.btn-prev:hover {
    cursor: pointer;
    background-color: #DFE7EC;
    color: black;
    border: 2px solid #354C6F;
}

/*FORMULAIRE PARTIE VEHICULE*/

.info-image{
    position: absolute;
    top: -10px;
    left: 0px;
    width: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*FORMULAIRE PARTIE RESERVATION*/

.reservation-col{
    height:100%;
    padding: 20px;
    border-radius:1rem !important;
    border : 1px solid #354C6F;
    background-color : white;
}

*/

/* CALENDRIER */





/* PROFIL */

.tab-content {
    display: none; /* Cache tous les contenus d'onglet */
}

.tab-content.active {
    display: block; /* Affiche seulement le contenu de l'onglet actif */
}

.first-menu a.active {
    color: #fff !important;
    pointer-events: none;
    border-bottom: 3px solid #213D53;
    padding: 0rem 3rem;
}

.nav-profil{
    height: 50px;
    margin-bottom: 0 ;
    color: #354C6F;
    line-height: 50px !important;

}
.nav-profil.active{
    color:	#00BFFF;
}

.first-menu a{
    font-size: 14px;
    padding: 0 15px;
    transition: all .3s ease-in-out;
    border: 0;
    color: #213D53 !important;
    line-height: 50px !important;
    height: 50px !important;
    display: inline-block !important;
    font-weight: 500 !important;
}

.a{
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit;

}
.a:hover {
     background-color: #8EAAB3 !important;
     color: white;
 }

.changePicture{
    color: #707070 !important;
    text-decoration: none;
    font-size: 12px !important;
}

.nbsp-large{
    margin-right: 8px !important;
}

#user-show .owner-picture img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.iconeStat{
    height:60px;
    width:60px;
}

.statistique{
   padding: 2rem;
   border-radius: 1rem;
   border: 1px solid rgba(33, 61, 83, 0.08);
   background-color: #fff !important;
}

.user-card{
   padding: 1rem;
   border-radius: 1rem;
   border: 1px solid rgba(33, 61, 83, 0.08);
   background-color: #fff !important;
   height: 100%;
}

.user-card-icon{
    width: 2rem !important;
    height: 2rem !important;
    line-height: 30px !important;
}

.user-card-title{
    font-size: 15px !important;
    font-weight: 400 !important;

}


