body {
font-family: 'Nunito', sans-serif !important;
    background-color: #F3F5F8 !important;
     }

h1, h3, h4, h5, h6 {
 font-family: 'Roboto', sans-serif !important;

 }
 h2{
  font-family: 'Roboto', sans-serif !important;
 font-weight: 900 !important;
 line-height: 2rem !important;
 }

/*----------------------FOOTER*------------------*/
.footer-pdf{
    color:#909b9b;
    font-weight: bold;
    margin-right:10px;
    font-size:small;

}

/* --------------------nav ---------------------*/

.dropdown-profil{
    border-radius: 8px !important;
    padding: 0 !important;
    top: 3.4rem !important;
    left: 0;
    overflow: hidden !important;
    border: 1px solid rgba(33, 61, 83, .1) !important;
    z-index: 999999 !important;
}
.list-dropdown{
    padding: 12px 20px !important;
}
.btn-connection{
    color:white;
    text-decoration:none !important;
}
nav {
 background-color: #354C6F;
 }


.navbar-brand-custom {
    display: inline-block;
    padding: 8px 12px;
    background-color: #9EABB3;
    color: #FBFBFBFB;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
    transition: box-shadow 0.3s;
}

.navbar-brand-custom:hover,
.navbar-brand-custom:focus {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1); /* Ajoute un effet d'ombrage au survol */
    text-decoration: none;
    color: #FBFBFBFB;
}

.louez-une-voiture {
    border: 1px solid #354C6F; /* Bord de 1px blanc */
    border-radius: 10px;     /* Rayon de bordure de 10px pour arrondir les coins */
    background-color: #DFE7EC;  /* Fond bleu */
    padding: 10px;           /* Ajoutez un peu de padding pour plus d'espacement à l'intérieur */
    color: #354C6F;         /* Texte en blanc pour contraster avec le fond bleu */
    text-align: center;      /* Centrer le texte à l'intérieur */
    font-style: normal;
    text-decoration: none;
}



/*------------------HOME----------------------*/

.top-home {
    background-image: url('/images/bruxelles-home.png');
    background-size: cover; /* This makes the background image cover the entire element*/
    background-repeat: no-repeat;
}

.title-top-home{
    color: white;
    margin-bottom: 60px;
}


.col-map{
    padding-right:0 !important;
}

.map {
 width: 600px; /* Remplacez par la largeur souhaitée */
    height: 600px; /* Remplacez par la hauteur souhaitée */
    z-index: 1; /* Assurer que le rond de droite est en dessous */
    border-radius: 50% 0 0 50%; /* Top-left, top-right, bottom-right, bottom-left */
    overflow: hidden; /* Mas
}

.form-control {
    border-radius: 20px; /* Ajustez la valeur selon vos préférences */
}

.besoins{
 background-color: #DFE7EC;
  display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 20px; /* Ajustez le padding selon vos besoins */
     position: relative;
     overflow: hidden;
     border-radius: 75px 0px 0px 0px; /* Les coins inférieurs arrondis */
}

.besoins-container{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
}



.besoin-text{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 1rem;
    font-weight: 500;

}

.besoins-container .besoins-item {
    display: block;
    height: auto;
    width: 100%;
    max-width: 190px;
}

.besoins-container .besoins-line {
    width: 100%;
    max-width: 146px;
    height: 2px;
    border: solid 1px #00BFFF;
}

.besoins-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
     width: 100%;
 }

 .middle-home{
    margin-top: 80px;
 }

 .category-icon {
     width: 100px; /* Ajustez la taille de l'icône selon vos besoins */
     height: 100px;
     margin-right: 8px; /* Espace entre l'icône et le texte */
     vertical-align: middle; /* Alignement vertical de l'icône */
     margin-bottom: 5px;
     background-color: #DFE7EC;
     padding: 10px;
     border-radius: 50%;
     border: 1px solid black;
 }
 .category-link {
     text-align: center;
 }
 .category-link-text {
     display: inline-block;
     font-size: 20px;
     font-weight: bold;
     position: relative;
     color: #000;
     animation: wavy 1s infinite ease-in-out;
       font-size: 20px;
         text-decoration: none;
              font-size: 24px;
              fill: #000; /* Color of the text */
 }
 .category-link-text {

 }

 .curved-text-container {
     text-align: center; /* Centering the SVG container */
 }

.car-link{
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(144, 155, 155, 0.04);
    border: solid 0.5px rgba(151, 162, 162, 0.2);
    padding: 10px;
    margin-right: 25px;
    text-decoration: none;
    color: inherit;
    }
    /* Alignement des détails de la voiture */
    .car-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .car-detail-price{
    background-color: #354C6F;
    padding: 5px;
      border-radius: 8px;
      color: white;
      padding-right: 8px;
      padding-left: 8px;
    }

    /* Styles pour les étoiles */
    .star {
        font-size: 1.5rem;
        color: #ddd; /* Couleur pour les étoiles vides */
    }

    .star.filled {
        color: gold; /* Couleur pour les étoiles remplies */
    }

.car-item{
    text-decoration: none;
}

.car-link img{
    border-radius: 8px;
    width: 220px;
    height: 130px;
}



 .home-page-link {
     margin: 10px;
 }

 .d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center {
     gap: 40px; /* Espace entre les éléments, ajustez selon vos besoins */
 }

.insurance-home{
   margin-top: 80px !important;
   background-color: #DFE7EC;
   min-height:700px;
   border-top-right-radius: 130px;
 }
 .insurance-card{
     border-radius: 8px;
     box-shadow: 0 8px 16px 0 rgba(144, 155, 155, 0.04);
     border: solid 1px rgba(151, 162, 162, 0.2);
     background-color: #ffffff;
     max-width: 450px;
     margin-bottom: 30px;
     padding: 15px;
     width: 70%;
 }

 .insurance-card-title{
    font-weight: bold;
 }

.insurance-card-details {
    font-size: 14px;
    font-style: italic;
}

.btn-home-1{
    background-color: #00BFFF !important;
    color: white !important;
    border-radius: 10px !important;
}

.btn-home-2{
    border-radius: 10px !important;
    background-color: #9eabb3 !important;
    color: white !important;
}

.custom-search-button {
  background-color: #00BFFF !important; /* Couleur de fond */
  color: #ffffff !important; /* Couleur du texte */
  border-radius: 10px !important; /* Bordure arrondie */
  padding-inline: 25px;
  font-size: 16px !important; /* Taille de la police */
}


.left-panel{
    width: 40%;
    margin-left: 150px;
    padding:30px;
}

.right-panel{
  width: 30%;
    margin-right: 150px;
    padding:30px;
}
/*----------------- CARS --------------------*/

.clear-form{
text-decoration:none;
color:#9EABB3;
}

.clear-form:hover{
color:#00788d !important;
font-weight: bold;
}

.filter-top{
background-color:transparent !important;
}

.filter-top .nav-link {
    position: relative; /* Nécessaire pour positionner la ligne en bas */
    padding-bottom: 0.5rem; /* Espacement en bas pour la ligne */
    overflow: hidden; /* Masquer la partie de la ligne en dehors du lien */
    color:#8EAAB3;


}

.filter-top .nav-link.active {
    background-color: transparent !important; /* Supprimer la couleur de fond */
    color:  #00BFFF!important; /* Couleur du texte pour l'élément actif (changer selon votre design) */
}

/* Styles pour la ligne sous l'élément actif */
.filter-top .nav-link.active::after {
    content: ""; /* Nécessaire pour ajouter une ligne en bas */
    position: absolute; /* Positionner la ligne en bas */
    left: 50%; /* Commencer au milieu */
    bottom: 0; /* Aligner la ligne avec le bas du lien */
    width: 0; /* Largeur initiale de la ligne */
    height: 2px; /* Épaisseur de la ligne */
    background-color: 	#00BFFF; /* Couleur de la ligne (changer selon votre design) */
    border-radius: 2px; /* Bord arrondi pour la ligne */
    transform: translateX(-50%); /* Centrer la ligne */
    transition: width 0.3s ease, left 0.3s ease; /* Animation de la largeur et du décalage */
}


/* Ajoutez une règle pour que la ligne remplisse entièrement le lien lorsque l'élément devient actif */
.filter-top .nav-link.active {
    /* La largeur de la ligne se remplit sur l'élément actif */
    &.active::after {
        width: 100%; /* Remplir la largeur du lien */
        left: 0; /* Aligner la ligne avec le début du lien */
        transform: none; /* Supprimer le centrage horizontal */
    }
}


#spinner-container {
    margin: 20px 0;
}


/* Conteneur pour le spinner des filtres */
.filter-spinner-container {
    position: relative;
    height: 50px; /* Ajustez selon vos besoins */
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* Conteneur pour le spinner des voitures */
.car-spinner-container {
    position: relative;
    height: 100px; /* Ajustez selon vos besoins */
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Espace pour éviter le chevauchement */
}

/* Spinner pour les filtres */
.filter-spinner {
    width: 30px;
    height: 30px;
}

/* Spinner pour les voitures */
.car-spinner {
    width: 50px;
    height: 50px;
}


.search-main{
    padding-top: 80px;
}

.container-search{
    padding: 35px;
    background-color: #DFE7EC;
    border-radius: 10px;
    border: 1px solid #354C6F;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid currentColor;
  border-right-color: transparent; // Une bordure transparente sur un côté pour créer l'effet de spinner
  border-radius: 50%;
  animation: .75s linear infinite spinner-border;
  -webkit-animation: .75s linear infinite spinner-border;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg); // Faites tourner l'élément de 360 degrés
  }
}

#filters {
    /* Style de la section des filtres */
    /* Par exemple : */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}




.card:hover {
    border: 2px solid #354C6F; /* Couleur bleue par exemple */
}

.priceIndex {
    padding: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #354C6F;
    border-radius: 10px;
    color: white;
    font-weight : bold;
    text-align:center;

}

.car-card{
    padding:15px !important;
        border-radius:10px !important;

}
.card-body{
    margin-left: 15px !important;
    padding:0 !important;
}

.card-link{
    text-decoration:none !important;
    color:black !important;
}

/* Assurez-vous que les icônes Font Awesome s'affichent correctement */
/* Style pour les étoiles remplies */
.fa-star.checked {
    color: #FFD700; /* Couleur dorée pour les étoiles remplies */
}

/* Style pour les étoiles vides avec contour doré et intérieur blanc */
/* Style pour les étoiles remplies */
.fa-star.checked {
    color: #FFD700; /* Couleur dorée pour les étoiles remplies */
}

/* Style pour les étoiles vides avec contour doré */
.fa-star.empty {
    color: transparent; /* Intérieur transparent */
    -webkit-text-stroke: 1px #FFD700; /* Ajoute un contour doré autour de l'étoile */
}

/* Taille et espacement des étoiles */
.fa-star {
    font-size: 13px; /* Taille des étoiles */
    margin-right: 2px; /* Espacement entre les étoiles */
}

/* Pour s'assurer que l'intérieur des étoiles vides est bien transparent */
.fa-star.empty::before {
    content: '\f005'; /* Code Unicode pour l'étoile pleine dans Font Awesome */
    color: transparent; /* Intérieur transparent */
    -webkit-text-stroke: 1px #FFD700; /* Contour doré */
}



.card-text-mode {
    background-color: #8EAAB3;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block; /* Pour ajuster le fond autour du texte uniquement */
    font-weight: bold; /* Optionnel pour rendre le texte plus visible */
    font-size:small;
}



.card-img-top{
    border-radius:10px !important;
    margin:auto;
    width: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
    max-height: 120px;
}
.card-title{
    font-weight: bold;
}




.form-shadow{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding : 20px;
    padding-top : 30px;
    padding-bottom : 30px;
}

.search-container {
    margin-left : 100px;
    margin-right : 100px;
}

.search-form{
    background-color:#9EABB3;
        border-radius: 20px;


}


.search-container input[type="text"] {
    border-radius: 10px;
    margin-bottom: 10px;

}

.search-container input[type="text"]:focus {
    outline: none;
}

.search-container input[type="date"]{
    margin-bottom: 0px;

}

.search-container .btn {
    background-color: #354C6F;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin : 20px
}

.container-search .btn:hover {
    background-color: #2e425d;
}

/*--------------------- CAR D2TAIL ------------------------*/

    .custom-border {
        border-radius: 20px;
        border: 2px solid black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre ici */
        width: 300px; /* Largeur du cadre */

    }

    .custom-reserver {
        background-color: #DFE7EC !important;
        border-radius: 20px;
        width: 100%;
        color: black; /* Couleur de texte normale */
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Animation de transition */


    }

    .custom-reserver:hover {
        background-color: #354C6F !important; /* Couleur plus foncée au survol */
        transform: scale(1.05); /* Effet de zoom léger au survol */
        color: white !important;
    }

    .rounded-custom-border {
        border-radius: 20px;
        border: 1px solid #D3D3D3;
        padding: 20px;
    }

    .custom-cond {
        background-color: #DFE7EC !important;
        border-radius: 10px;
        padding: 30px;
        margin: 10px;
    }

    .star-filled {
        color: gold; /* Couleur dorée */
    }

    /*LOGIN*/

    .custom-form {
        background-color: #DFE7EC
        text:center;


    }

    .custom-card {
        background-color: #DFE7EC !important;
         border: none !important; /* Supprimer la bordure */
         border-radius: 20px !important;;
         box-shadow: none !important;
         height : 800px;
    }
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
    }
    .card,
    .card-img {
        border-radius: 20px;
    }



    /* Style de l'onglet de connexion actif *//* Style de l'onglet de connexion actif */
  .nav-link#loginTab.active {
      background-color: #354C6F; /* Couleur de fond pour l'onglet actif */
      color: #FFF; /* Couleur du texte pour l'onglet actif */
  }

  /* Style de l'onglet d'inscription lorsque l'onglet de connexion n'est pas actif */
  .nav-link#registerTab:not(.active) {
      background-color: #DFE7EC; /* Couleur de fond pour l'onglet inactif */
      color: #000; /* Couleur du texte pour l'onglet inactif */
  }
    .nav-link#registerTab.active {
        background-color: #354C6F; /* Couleur de fond pour l'onglet actif */
        color: #FFF; /* Couleur du texte pour l'onglet actif */
    }

    /* Style de l'onglet d'inscription lorsque l'onglet de connexion n'est pas actif */
    .nav-link#loginTab:not(.active) {
        background-color: #DFE7EC; /* Couleur de fond pour l'onglet inactif */
        color: #000; /* Couleur du texte pour l'onglet inactif */
    }


    .nav-link {
        border-top-left-radius: 10px !important; /* Coin supérieur gauche arrondi */
        border-top-right-radius: 10px !important; /* Coin supérieur droit arrondi */
    }

    .card-header {
        background-color : #FBFBFB;
    }





.progress-container {
  width: 100%; /* Largeur totale de la barre de progression */
}




.icon {
  margin-right: 40px; /* Ajoute de l'espace entre les icônes */
}

.arrow {
  position: relative; /* Position relative pour permettre le déplacement */
  opacity: 0; /* Définir l'opacité à 0 au départ */
  animation: moveArrow 4s infinite; /* Animation infinie */
}

@keyframes moveArrow {
  0%, 20% {
    opacity: 0; /* Flèche invisible au début et à la fin de chaque déplacement */
    left: -5px; /* Déplacement initial (hors de la vue) */
  }
  25%, 30% {
    opacity: 1; /* Flèche visible */
    left: 0; /* Déplacement visible */
  }
  35%, 40% {
    opacity: 1; /* Flèche visible */
    left: 5px; /* Déplacement visible */
  }
  45%, 50% {
    opacity: 1; /* Flèche visible */
    left: 10px; /* Déplacement visible */
  }
  55%, 60% {
    opacity: 1; /* Flèche visible */
    left: 15px; /* Déplacement visible */
  }
  /* Continuer de la même manière pour les autres étapes */
}


/* FORMULAIRE AJOUT CAR */

/*PROGRESS BAR*/

.form-step{
    display:none;
}

.form-step.active{
    display:block;
}

.form-control {
    height: 2.5rem !important;
    margin-bottom: 2rem;
    border-radius: 10px !important;
    font-size: 0.9rem !important;
    color: #323648;
    border: 1px solid rgba(33, 61, 83, .1);
}

.form-control:focus {
    outline: none !important;
    border: 2px solid #00BFFF !important; /* Ajoute une bordure bleue ou une autre indication visuelle */
    box-shadow: none !important;
}


.question-badge{
    margin-left: 5px;
    padding: 2px 7px;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: 	#00BFFF;
    cursor: pointer;
    color:white;
}

.offer-container{
    max-width: 350px !important;
    position: relative;
}

.disabled{
    cursor: default;
    pointer-events: none;
    opacity: .5;
}



.offer-container.disabled .unavailable-overlay{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-container.disabled .unavailable-overlay p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    background-color: rgb(218 218 218 / 70%);
    padding: 8px;
    border-radius: 5px;
    z-index: 1;
}

.offer-hr{
    border: solid 2px #323648;
    width: 60%;
    text-align:center;
}

.offer-card{
    font-weight:bold;
    font-size:0.5rem;
}

.offer-card-border{
    border: solid 2px #354C6F;
    border-radius : 15px;
    padding:30px;
    background-color:white;
}

.text-coin {
    background-color: #354C6F;
    color: white;
    border-radius:20px;
    padding : 10px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #DFE7EC !important;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
}

.bloc-progress{
    background-color: #DFE7EC !important;
    border-radius:15px;
    margin-right : 20px;
    padding: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.inner-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #354C6F;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid  #354C6F;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: black !important;
    z-index:100;
}

.p {
    margin-left: 10px;
    margin-bottom: 0;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color:black;
}

.circle.active {
    background-color: #007bff;
    color: white !important;
}

.line {
    width: 2px;
    height: 50px;
    background-color: lightgray;
    position: absolute;
    top: 30px;
}

.line.active {
    background-color: #007bff;
}

.btn-prev {
    display: block !important;
    width: 100%;
    padding: 15px !important;
    text-align: center !important;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#354C6F !important;
    color:white !important;
    border-radius: 10px !important;
}

.btn-prev:hover {
    cursor: pointer;
    background-color: #DFE7EC;
    color: black;
    border: 2px solid #354C6F;
}

.btn-next{
    padding: 0 !important;
    width: 12rem;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 3rem !important;
    border-radius: 10px !important;
    border: 0 !important;
    background-color: #00788d !important;
    color:white !important;

}

/*FORMULAIRE PARTIE VEHICULE*/

.info-image{
    position: absolute;
    top: -10px;
    left: 0px;
    width: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.equipment-item {
    cursor: pointer;
    border: 2px solid #00BFFF;
    border-radius: 20px;
    padding: 2px;
    text-align: center;

}

.list-group-item{
    border-radius:10px;
}
.list-group-item:first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

 #conditionTextarea {
        height: 75px !important; /* Set your desired height */
    }
    #addConditionButton {
        height: fit-content; /* Adjust button height to fit the content */
    }

.equipment-item input[type="checkbox"] {
    display: none;
}

.equipment-item.checked {
    background-color: #f0f0f0; /* Changez la couleur de fond selon vos préférences */
}

.equipment-icon {
    width: 50px;
    height: 50px;
    object-fit: cover; /* This ensures the image covers the area while preserving aspect ratio */
    transition: background-color 0.3s ease;
}

/*FORMULAIRE PARTIE RESERVATION*/

.reservation-col{
    height:100%;
    padding: 20px;
    border-radius:1rem !important;
    border : 1px solid #354C6F;
    background-color : white;
}

.next-btn{
        padding: 0 !important;
        width: 12rem;
        font-size: 1rem !important;
        font-weight: 500 !important;
        line-height: 3rem !important;
        border-radius: 10px !important;
        border: 0 !important;
        background-color: #00788d !important;
        color: white !important;
}

/* Formaulaire PARITE PHOTO*/

.no-picture-2 {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carte-grise-input {
    position: relative;
    height: 200px; /* Hauteur ajustable selon le besoin */
    border: 1px dashed #354C6F ; /* Style de bordure pour visibilité, à supprimer si non nécessaire */
}
.obligatoire{
    color: white !important;
    background-color: #FF4F4A !important;
    border-radius: 5px !important;
    padding:5px;
    font-size:11px;
}

/* CALENDRIER */





/* PROFIL */

.first-menu a.active {
    color: #fff !important;
    pointer-events: none;
    border-bottom: 3px solid #213D53;
    padding: 0rem 3rem;
    text-decoration:none !important;
}

.nav-profil{
    height: 50px;
    margin-bottom: 0 ;
    color: #354C6F;
    line-height: 50px !important;

}
.nav-profil.active{
    color:	#00BFFF;
}

.first-menu a{
    font-size: 14px;
    padding: 0 15px;
    transition: all .3s ease-in-out;
    border: 0;
    color: #213D53 !important;
    line-height: 50px !important;
    height: 50px !important;
    display: inline-block !important;
    font-weight: 500 !important;
   text-decoration:none !important;

}

.a{
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit;

}
.a:hover {
     background-color: #8EAAB3 !important;
     color: white;
 }

.changePicture{
    color: #707070 !important;
    text-decoration: none;
    font-size: 12px !important;
}

.nbsp-large{
    margin-right: 8px !important;
}

#user-show .owner-picture img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.iconeStat{
    height:60px;
    width:60px;
}

.statistique{
   padding: 2rem;
   border-radius: 1rem;
   border: 1px solid rgba(33, 61, 83, 0.08);
   background-color: #fff !important;
}

.user-card{
   padding: 1rem;
   border-radius: 1rem;
   border: 1px solid rgba(33, 61, 83, 0.08);
   background-color: #fff !important;
   height: 100%;
}

.user-card-icon{
    width: 2rem !important;
    height: 2rem !important;
    line-height: 30px !important;
}

.user-card-title{
    font-size: 15px !important;
    font-weight: 400 !important;

}

/* PROFIL VEHICULES ALL*/

.card-car-owner{
    padding: 1.5rem;
    width: 100%;
    background-color: #FFF;
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: all 0.3s linear;
}

#user-show .user-vehicle {
    background-color: #f4f6f7;
}

.search-list-vehicle ul {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.bg-transparent {
    background-color: transparent !important;
}

.search-list-vehicle li {
    padding: 2.95rem;
    width: 100%;
    background-color: #FFF;
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: all 0.3s linear;
}

.search-list-vehicle .vehicle-picture {
    position: relative;
}

.vehicle-picture img {
    position: relative;
    border-radius: 0.8rem;
    width: 100%;
    display: block;
    object-fit: cover;
    background-image: url(/images/no-vehicle-picture-square.png);
    background-size: cover;
    height: 12.5rem;
    background-position-y: -1.5rem;
}

.user-vehicle-picture {
    height: 14.5rem !important;
}

.c-transparent {
    color: transparent !important;
}

.text-center {
    text-align: center !important;
}

.fs16 {
    font-size: 1.6rem !important;
}

.text-more-light {
    color: #ADBFCC !important;
}

.no-padding {
    padding: 0;
}

.fs14 {
    font-size: 14px !important;
}
.c-black {
    color: #3C3C3B !important;
}

.bold {
    font-weight: 600 !important;
}

.fs11 {
    font-size: 11px !important;
}

.pdl-5 {
    padding-left: 5px !important;
}

.fs12 {
    font-size: 12px !important;
}

.c-grey {
    color: #777 !important;
}
.medium, .semi-bold {
    font-weight: 500 !important;
}

/*PROFIL VEHICULE PAR ID*/

.mgr-40{
    margin-right: 40px;
}

.mgb-0{
    margin-bottom: 0px;
}

.second-menu {
    padding: .8rem;
    background-color: #CBD2D9;
    color: black;
    height: 50px;
}

.car-detail-onglet{
    text-decoration: none;
    color: grey;
    font-size: 15px;

}

.car-detail-onglet:hover,
.car-detail-onglet.active {
    color: #00BFFF;
    cursor:pointer;
}

/* Profil Vehicule menu */

.tab-content-car {
    display: none !important;
}

.tab-content-car.active {
    display: block !important;
}

/* PROFIL ANNONCE */

   .border-dotted{
        position: relative;
        border-radius: 10px;
        border: 1px dashed #354C6F;
        border-width: 1px;
        border-style: dashed;
        border-color: #354C6F;
        border-spacing: 10px;
        width: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F3F5F8;
        opacity: 1;
    }

    .no-picture {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      object-fit: cover; /* Pour s'assurer que l'image conserve ses proportions */
    }

    .container {
        max-width: 1140px !important;
    }

    #vehicle-container .vehicle-show-info, #vehicle-container .vehicle-show-rating {
        padding: 4rem;
        border-radius: 1rem;
        border: 1px solid rgba(33, 61, 83, 0.08);
    }

    .vehiccle-show-info{
        background-color: #fff !important;
            margin-bottom: 20px !important;
    }

    .carac-icon{
        font-size: 16px;
        font-weight: 600 !important;
        color: #3c3c3b !important;
    }

    .vehicle-show-info{
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 10px;
    }

    .vehicle-labels{
        margin-bottom: 60px;
        text-align: center;
    }

    .reservation-warning {
        color: white;             /* Texte blanc */
        font-size: 12px;          /* Taille de la police */
        background-color: #ffc107; /* Couleur d'arrière-plan jaune d'alerte */
        font-weight: 500;         /* Poids de la police à medium */
        padding: 8px;             /* Padding autour du contenu */
        display: inline-block;    /* L'élément s'affiche en inline-block */
        border-radius: 10px;      /* Rayon des bords arrondis */
        margin-top: 15px;         /* Marge supérieure */
        width: 200px;             /* Largeur fixe */
        text-align: center;       /* Texte centré à l'intérieur */
    }

    .vehicle-show-description{
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 2rem 4rem;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        background-color: #DFE7EC !important;
        margin-bottom: 40px !important;
    }












/* PROFIL MODE RESERVATION */

.hide {
    display: none; /* Cache les éléments */
}

.show {
    display: block; /* Affiche les éléments */
}


.actually{
        margin-right: 8px !important;
        font-weight: 600 !important;
        color: #32b298 !important;
}

.auto-manu{
    color: #ffc107 !important;
}

.choose-automatic-reservation{
    border: 1px solid #dee2e6 !important;
    height: 100%;
    width: 100% !important;
    display: inline-block !important;
    border-radius: 4px !important;
    border: 1px solid #e9ecef !important;
}
.choose-automatic-reservation.active-button{
    background-color: #00788d; /* Bleu foncé pour l'état actif */
    color: white;
}

.choose-manual-reservation{
    border: 1px solid #dee2e6 !important;
    height: 100%;
    width: 100% !important;
    display: inline-block !important;
    border-radius: 4px !important;
    border: 1px solid #e9ecef !important;
}

.choose-manual-reservation.active-button{
        background-color: #00788d; /* Bleu foncé pour l'état actif */
        color: white;
}



.card-reservation{
    height : 100%;
    border-radius: 1rem;
    border: 1px solid #e9ecef !important;
    padding: 20px;
}

.p-reservation{
    font-size : 1.2rem;
    font-weight: 500;
    line-height: 2.6rem;
    margin-bottom: 0;
}

.p-manuel-auto{
    padding: 30px;
    font-weight: bold;
    font-size : 1.2rem;
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 0;
}

.enregistrer{
        padding: 0 !important;
        width: 13rem !important;
        font-size: 0.9rem !important;
        line-height: 3rem !important;
        border-radius: 10px !important;
        background-color: #354C6F !important;
        color:white;
        border-color:#00BFFF !important;
}

.enregistrer:hover{
    background-color:#00BFFF !important;
    border-radius: 10px !important;
    border: 1px solid #354C6F !important;
    color:white;

}

a {
    text-decoration:none !important;
    cursor:pointer !important;
    color: black;
}

