
/*------------------INFO PERSO----------------------*/
.back-account{
    margin-top: 20px;
    margin-bottom:30px;
}
.back-account a{
    text-decoration:none;
    color: black;
}

.arrow-back {
    color:	#00BFFF;
}

.user-info-perso{
    padding:25px;
    background-color:#DFE7EC;
    margin-bottom:30px;
    border: 2px solid #ffff;
    border-radius: 10px;
    padding-right:30px;
    padding-left:30px;

}

.notif-param{
    background-color: #ffff;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 15px;
}

.update-car-form{
    background-color: white;
    margin-top: 30px;
    padding: 40px;
    padding-top: 60px;
    border:2px solid white;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stripe-background {
    background: repeating-linear-gradient(
      45deg,
      #354C6F,
      #354C6F 10px,
      white 10px,
      white 20px
    );
}

/*-----------------INFO-PERSO-DOCUMENT-------------------------*/

  .upload-area {
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
    .upload-area img {
      width: 100%;
      cursor: pointer;
    }

    .upload-area input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    .upload-area .status {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
    }


/*---------------------VOITURES - ANNONCE--------------------*/

.separator-annonce{
    height:2px !important;
    padding-top:15px;
    padding-bottom:15px;
    color: #DFE7EC;

}
.vehicle-price{
    border-radius:10px;
    padding: 2rem 1.5rem;
    margin-bottom: 20px;

}

.vehicle-disabled-checkmark{
    padding: 2rem 1.5rem ;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*---------------------VOITURE - MODE-RESERVAtION-----------*/

.hide {
    display: none;
}

.show {
    display: block;
}

.active-button {
    background-color: #007bff;
    color: white;
}

/*---------------------VOITURE - MODE-TARIFICATION-----------*/

.tarif-manuelle-tab{
    padding:30px;
    margin:10px;
    border: 1px solid #e9ecef !important;
    border-radius: 4px !important;
        height: 100%;
        width: 100% !important;
        display: flex;
    justify-content: center;
      align-items: center;
      background-color:#00788d;
      color:white;


}

.tarif-intelligente-tab{
    padding:30px;
    margin:10px;
    border: 1px solid #e9ecef !important;
    border-radius: 4px !important;
        height: 100%;
        width: 100% !important;
                display: flex;
            justify-content: center;
              align-items: center;
    color: rgba(50, 50, 50, 0.8); /* Gris foncé clair pour contraste sur fond blanc */

    }

.ribbon {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg); /* Centrage et inclinaison */
    background-color: #354C6F;
        color: white;
    padding: 5px 30px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    z-index: 99999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:40%;
}

.pricing-detail{
    padding-right: 20px;
    padding-left: 20px;
}


/* ------------------------------ONGLET RESERVATIONS ------------------------------------*/

                        /*---------------INDEX---------------*/
.payment-status {
    background-color: #dc3545; /* Rouge */
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.countdown-timer {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}


                        /*-------------------CHAT-------------------------*/




.car-reservation-card {
    background-color: white;
    border-radius: 10px;
}

.car-reservation-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .date-container {
    display: flex;
    align-items: center;
}

.date-container img {
    margin: 0 5px; /* Ajouter de l'espace autour de l'image */
}

.car-reservation-body {
    padding:25px;
}

.car-reservation-user{
   padding:25px;
    border: 1px solid white;
   background-color: #DFE7EC;
   border-radius: 10px;
}

.statut-box{
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color:#DFE7EC;
    color:white;
    font-weight: bold;
   color: #354C6F;

}
.discussion{
    border-radius : 10px;
    background-color: white;
    padding: 15px;
}

.discussion img {
    width: 60px; /* Ajustez la taille de l'image si nécessaire */
    height: 60px; /* Ajustez la taille de l'image si nécessaire */
    margin-right: 10px; /* Pour espacer l'image du texte */
}
.discussion h3 {
    margin-bottom: 15px;; /* Enlève la marge par défaut de h5 */
    font-weight: bold;

}
.chat-area {
    margin-top: 20px; /* Espace entre le titre et la zone de chat */
    padding: 10px; /* Espacement interne pour la zone de chat */
    height: 300px; /* Hauteur de la zone de chat, ajustez selon vos besoins */
    overflow-y: auto; /* Scroll si le contenu dépasse la hauteur */
}
.chat-input {
    margin-top: 20px; /* Espace au-dessus de la zone de saisie */
}

.chat-area {
    padding: 10px;
    height: 500px;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 5px;
}

.message-profile {
    margin-right: 10px;
}

.message-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-content {
    flex-grow: 1;
}

.message-user {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text {
    margin-bottom: 5px;
}

.message-date {
    font-size: 0.8em;
    color: #888;
    align-self: flex-end;
}





/* Notification */
.image-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top:100px;
}

.centered-image {
    max-width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}


.chat-message span {
    font-weight: bold;
}

.full-width {
    height: 65px !important;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 0 !important;
    background-color:#DFE7EC !important;
}

.reservation-custom-filter{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 30px !important;
    padding-bottom:30px !important;
    padding-left:15px !important;
    padding-right: 15px !important;

}

.card-reservation-profil{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px !important;
}

.card-reservation-profil img{
    border-radius: 6px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.arrow{
    font-size:2.5rem;
    color:#00BFFF;
    padding: 0 10px;
    font-weight: bold; /* Rend la flèche plus épaisse */

}

.fs-13{
    font-size:13px;
}

.filter-title-reservation{
    font-weight: bold;
}

.form-check{
    padding-bottom:5px;


}

 .status-text {
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }


.cars-filters-reservation{
    margin-bottom: 20px;
}

.confirmed{
     background-color: #00BFFF;
     color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.now {
    background-color: #00788d;
    color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.payment-pending {
    background-color: #C72C48; /* Utilisez la couleur souhaitée */
    color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.finished {
    background-color: #E3E7E5; /* Gris clair */
}

.cancelled {
    background-color: #E3E7E5; /* Gris clair */
}

/* NOTIFICATIONS */

.notification-filters {
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*------------------------ONGLET RESERVATION------------------*/
.statut-reservation{
    position: relative;
    left: 10px;
}