.user-info-perso{
    padding:25px;
    background-color:#DFE7EC;
    margin-bottom:30px;
    border: 2px solid #ffff;
    border-radius: 10px;

}

.notif-param{
    background-color: #ffff;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 15px;
}

.update-car-form{
    background-color: white;
    margin-top: 30px;
    padding: 40px;
    padding-top: 60px;
    border:2px solid white;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stripe-background {
    background: repeating-linear-gradient(
      45deg,
      #354C6F,
      #354C6F 10px,
      white 10px,
      white 20px
    );
}




/* ONGLET RESERVATIONS */

.car-reservation-card {
    border: 1px solid white;
    background-color: #DFE7EC;
    border-radius: 10px;
}

.car-reservation-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .date-container {
    display: flex;
    align-items: center;
}

.date-container img {
    margin: 0 5px; /* Ajouter de l'espace autour de l'image */
}

.car-reservation-body {
    padding:25px;
}

.car-reservation-user{
   padding:25px;
    border: 1px solid white;
   background-color: #DFE7EC;
   border-radius: 10px;
}

.statut-box{
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color:#8EAAB3;
    color:white;
    font-weight: bold;

}
.discussion{
    border: 1px solid black;
    border-radius : 10px;
    background-color: white;
    padding: 15px;
}

.discussion img {
    width: 60px; /* Ajustez la taille de l'image si nécessaire */
    height: 60px; /* Ajustez la taille de l'image si nécessaire */
    margin-right: 10px; /* Pour espacer l'image du texte */
}
.discussion h3 {
    margin-bottom: 15px;; /* Enlève la marge par défaut de h5 */
    font-weight: bold;

}
.chat-area {
    margin-top: 20px; /* Espace entre le titre et la zone de chat */
    padding: 10px; /* Espacement interne pour la zone de chat */
    height: 300px; /* Hauteur de la zone de chat, ajustez selon vos besoins */
    overflow-y: auto; /* Scroll si le contenu dépasse la hauteur */
}
.chat-input {
    margin-top: 20px; /* Espace au-dessus de la zone de saisie */
}

.chat-area {
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}

.message-profile {
    margin-right: 10px;
}

.message-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-content {
    flex-grow: 1;
}

.message-user {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text {
    margin-bottom: 5px;
}

.message-date {
    font-size: 0.8em;
    color: #888;
    align-self: flex-end;
}





/* Notification */
.image-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-image {
    max-width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}


.chat-message span {
    font-weight: bold;
}

.full-width {
    height: 65px !important;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 0 !important;
}

.reservation-custom-filter{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 30px !important;
    padding-bottom:30px !important;
    padding-left:15px !important;
    padding-right: 15px !important;

}

.card-reservation-profil{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px !important;
}

.card-reservation-profil img{
    border-radius: 6px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.arrow{
    font-size:2.5rem;
    color:#00BFFF;
    padding: 0 10px;
    font-weight: bold; /* Rend la flèche plus épaisse */

}

.fs-13{
    font-size:13px;
}

.filter-title-reservation{
    font-weight: bold;
}

.form-check{
    padding-bottom:5px;


}

 .status-text {
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }


.cars-filters-reservation{
    margin-bottom: 20px;
}

.confirmed{
     background-color: #00BFFF;
     color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.now {
    background-color: #00788d;
    color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.payment-pending {
    background-color: #C72C48; /* Utilisez la couleur souhaitée */
    color: white; /* Optionnel : pour que le texte soit visible sur le fond sombre */
}

.finished {
    background-color: #E3E7E5; /* Gris clair */
}

.cancelled {
    background-color: #E3E7E5; /* Gris clair */
}

