<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Mon Compte</title>
</head>
<body>

<div layout:fragment="content">
    <div th:replace="account/fragments/account-header"></div>

    <div id="user-show" class="user-vehicle">
        <div class="container pt-1">
            <div class="row justify-content-center" style="padding-top:40px; padding-bottom:80px;    margin-right: -15px;
     margin-left: -15px;">
                <div class="col-lg-8 col-md-12">
                    <div th:if="${param.message != null}">
                        <div class="alert alert-success" role="alert">
                            <p th:text="${param.message}"></p>
                        </div>
                    </div>
                    <div th:if="${successMessage != null}">
                        <div class="alert alert-success" role="alert">
                            <p th:text="${successMessage}"></p>
                        </div>
                    </div>

                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <div class="search-list-vehicle vehicles-list">
                        <div th:each="car : ${cars}" class="card-car-owner">
                            <a th:href="@{/account/cars/{id}(id=${car.id})}" class="card-link">
                                <div class="row g-0">
                                    <div class="col-md-3 m-auto">
                                            <img th:src="${#lists.isEmpty(car.photoUrl) ? '/images/carDefault.png' : '/uploads/photo-car/' + car.photoUrl[0]}"
                                                 th:alt="'Photo de voiture ' + ${car.brand} + ' ' + ${car.model}"
                                                 class="card-img-top" style="max-height: 150px;">


                                        <div class="text-center mt-2">
                                            <p th:text="${car.plaqueImmatriculation}" class="bold text-more-light">Plate Number</p>
                                        </div>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title m-0" th:text="${car.brand + ' ' + car.model}"></h5>
                                                <div class="priceIndex" th:text="${car.displayPrice} + ' €/jour'"></div>
                                            </div>

                                            <div class="d-flex flex-wrap mt-2 text-muted small">
                                                <div th:each="feature : ${car.features}" class="me-3 d-flex align-items-center">
                                                    <img th:src="${feature.iconUrl}" alt="Icone de ${feature.name}" style="width: 20px; height: 20px;" class="me-1">
                                                    <span th:text="${feature.description}"></span>
                                                </div>
                                            </div>

                                            <div th:if="${car.modeReservation == 'automatique'}">
                                                <!-- Mode de réservation -->
                                                <div class="d-flex justify-content-end mt-3">
                                                    <div class="card-text-mode" data-toggle="tooltip" data-placement="top" data-bs-original-title="Vous pouvez réserver la voiture immédiatement">
                                                        <img src="/icons/eclat.png" alt="eclat" class="icon" style="width: 20px; height: 20px; margin-right: 5px;">
                                                        <span>Réservation instantanée</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mgt-40">
                    <p class="text-center"><a th:href="@{/rent}" class="btn btn-success enregistrer"><i class="fa fa-plus-circle fs13 nbsp-large c-white" aria-hidden="true"></i>Ajouter un véhicule</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
