<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Mon Compte</title>

</head>
<body>

<div layout:fragment="content">

  <div th:replace="account/fragments/account-header"></div>
  <div class="container">
    <div th:if="${successMessage}" class="alert alert-success mt-2 mb-2" role="alert">
      <span th:text="${successMessage}"></span>
    </div>
    <div class="back-account">
      <i class="fa fa-arrow-left arrow-back" aria-hidden="true"></i>
      <a href="/account">Précédent</a>
    </div>
    </div>
  <div class="container">
    <div class="user-info-perso">
      <div class="row">
        <div class="col-lg-12 col-sm-9 mb-3">
          <h2 class="bold">
            Documents d'identités
            <span class="c-warning nbsp-left" data-toggle="tooltip" data-placement="right" title="Informations nécessaires afin de réaliser vos virements."><i class="fa fa-file-text text-info" aria-hidden="true"></i></span>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="">
            <p class="">Téléchargez une copie de votre pièce d'identité afin de recevoir les gains de vos locations sur votre compte bancaire. </p>
            <p class=""><i class="fa fa-warning text-danger"></i> Sans ces documents nous ne pourrons pas effectuer de virement sur votre compte.</p>

            <p class="">Le document doit être :</p>
            <div class="text-center mb-4 bold">
              <p class=""><span class="medium">Lisible <i class="fa fa-arrow-circle-right text-info"></i></span> pas de flash, la photo doit être nette</p>
              <p class=""><span class="medium">Complet <i class="fa fa-arrow-circle-right text-info"></i></span> le document ne doit pas être coupé</p>
              <p class=""><span class="medium">Valide <i class="fa fa-arrow-circle-right text-info"></i></span> le document de doit pas être périmé</p>
              <p class=""><span class="">Le recto et le verso sont nécessaire pour une carte d'identité</span></p>
            </div>
            <p class="">Tous les documents ne respectant pas ces critères seront refusés.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 text-center">
            <p class="">Recto</p>
          </div>
          <div class="col-lg-6 text-center">
            <p class="">Verso</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div th:if="${hasIdentityRecto && hasIdentityVerso}" class="text-center m-3 bold">
              <p class="text-success bold">Les documents d'identité (recto et verso) sont déjà en notre possession.</p>
            </div>

            <div th:unless="${hasIdentityRecto && hasIdentityVerso}">
              <form th:action="@{/account/document-identity}" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-lg-5 mgb-20">
                    <label class="form-control form-control-edit pd-1-2 mgb-0" for="">
                      <input class="upload-btn" id="identity_document_recto_input" type="file" name="identityRecto"
                             accept="image/png,image/jpeg,application/pdf"
                             th:required="${!hasIdentityRecto}">
                    </label>
                    <span class="text-more-light">
              <span>Jusqu'à 10 Mo pour le recto.</span>
            </span>
                  </div>

                  <div class="col-lg-5 mgb-20">
                    <label class="form-control form-control-edit pd-1-2 mgb-0" for="">
                      <input class="upload-btn" id="identity_document_verso_input" type="file" name="identityVerso"
                             accept="image/png,image/jpeg,application/pdf"
                             th:required="${!hasIdentityVerso}">
                    </label>
                    <span class="text-more-light">
              <span>Jusqu'à 10 Mo pour le verso.</span>
            </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-success">Enregistrer les documents</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
  <div class="container">
    <div class="user-info-perso">
      <h2 class="bold mb-3">Permis de conduire
        <span class="" data-toggle="tooltip" data-placement="right" title="" data-original-title="Informations nécessaires afin de réaliser vos virements."><i class="fa fa-file-text text-info" aria-hidden="true"></i></span>
      </h2>

      <div class="row">
        <div class="col-lg-6 text-center">
          <p class="">Recto</p>
        </div>
        <div class="col-lg-6 text-center">
          <p class="">Verso</p>
        </div>
      </div>

      <!-- Vérification si les documents de la licence (recto et verso) sont déjà en notre possession -->
      <div th:if="${hasLicenceRecto && hasLicenceVerso}" class="text-center m-3">
        <p class="text-success bold">Les documents de la licence (recto et verso) sont déjà en notre possession.</p>
      </div>

      <div th:unless="${hasLicenceRecto && hasLicenceVerso}">
        <form th:action="@{/account/document-identity}" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-5 mgb-20">
              <label class="form-control form-control-edit pd-1-2 mgb-0" for="">
                <input class="upload-btn" id="licence_document_recto_input" type="file" name="licenceRecto"
                       accept="image/png,image/jpeg,application/pdf"
                       th:required="${!hasLicenceRecto}">
              </label>
              <span class="text-more-light">
              <span>Jusqu'à 10 Mo pour le recto.</span>
            </span>
            </div>

            <div class="col-lg-5 mgb-20">
              <label class="form-control form-control-edit pd-1-2 mgb-0" for="">
                <input class="upload-btn" id="licence_document_verso_input" type="file" name="licenceVerso"
                       accept="image/png,image/jpeg,application/pdf"
                       th:required="${!hasLicenceVerso}">
              </label>
              <span class="text-more-light">
              <span>Jusqu'à 10 Mo pour le verso.</span>
            </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-success">Enregistrer les documents de la licence</button>
            </div>
          </div>
        </form>
      </div>

  </div>
  </div>

<script>
  document.getElementById('driver_licence_recto_input').addEventListener('change', function(e) {
    if (e.target.files && e.target.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('rectoPreview').src = e.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);
    }
  });

  document.getElementById('driver_licence_verso_input').addEventListener('change', function(e) {
    if (e.target.files && e.target.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('versoPreview').src = e.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);
    }
  });
</script>
    <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
</div>
</body>
</html>
