<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Liste des voitures</title>
</head>
<body>
<h1>Liste des voitures</h1>
<table>
  <thead>
  <tr>
    <th>Marque</th>
    <th>Modèle</th>
    <th>Année</th>
    <th>Type de carburant</th>
    <th>Catégorie</th>
    <th>Propriétaire</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="car : ${cars}">
    <td th:text="${car.brand}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.year}"></td>
    <td th:text="${car.fuelType}"></td>
    <td th:text="${car.category.category}"></td>
    <!-- Ajoutez d'autres détails de la voiture selon vos besoins -->
  </tr>
  </tbody>
</table>
</body>
</html>
