<div  layout:fragment="account-header">
    <div class="first-menu" style="background-color: #8EAAB3;">
        <p class="nav-profil text-center">
            <a th:href="@{/account}" class="a active" ><i class="fa-regular fa-file-lines nbsp-large"></i>Mon compte</a>
            <a th:href="@{/voitures}" class="a ms-4" ><i class="fa fa-car nbsp-large"></i>Mes véhicules</a>
            <a th:href="@{/account}" class="a ms-4" ><i class="fa-regular fa-calendar-check nbsp-large"></i>Mes réservations</a>
        </p>
    </div>
</div>

