<!-- fragments/annonce.html -->
<div layout:fragment="annonce"  id="annonce-tab" class="tab-content active">

  <div class="container mt-5">
    <div class="vehicule-container">
        <div class="row owner-pictures mb-4" data-car-id="${car.id}" >
            <!-- Existing photos -->
            <div th:each="photo, iterStat : ${car.photos}" class="col-lg-3" id="photo_${photo.id}">
                <div class="text-center border-dotted">
                    <p>
                        <img th:src="@{'/uploads/' + ${photo.url}}" class="no-picture" alt="Car Photo" th:id="'noPicture_' + ${iterStat.index}">
                    </p>

                </div>
                <form th:action="@{/account/cars/removePhoto/{id}(id=${photo.id})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm mt-2 delete-photo">Supprimer</button>
                </form>
            </div>

            <!-- Default placeholders to add up to four photos -->
            <th:block th:each="i : ${#numbers.sequence(car.photos.size(), 3)}">
                <div class="col-lg-3">
                    <div class="text-center border-dotted">
                        <p>
                            <img src="/images/picture-icon.png" class="no-picture" alt="Add Photo" th:id="'addPhotoIcon_' + ${i}">
                        </p>
                        <form th:action="@{/account/cars/addPhoto}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="carId" th:value="${car.id}">
                            <input type="file" name="photo" class="picture-input" th:id="'photoInput_' + ${i}" style="display: none;">
                            <button type="submit" class="btn btn-primary btn-sm mt-2" style="display: none;">Ajouter</button>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>

















        <div class="row m">
      <div class="col-lg-8">
          <div class="vehicle-show-info bg-white bg-more-light mgb-20 " >
              <div class="row">
                  <div class="col-lg-9 col-md-9 col-xs-8">
                      <h2 th:text="${car.brand + ' ' + car.model}" class="mb-3">BMW i8</h2>
                          <span class="fs16 "> - KI523KI*</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-4">
                      <p class="text-right h45">
                          <a class="fs14 c-main normal" href="/vehicle/29282/edit/informations">
                              <i class="fa fa-edit nbsp-large"></i>Editer
                          </a>
                      </p>
                  </div>
              </div>
              <div class="vehicle-labels" >
                  <div class="reservation-warning mb-2">
                <span class="bg-tooltip pd-10" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Vous pouvez réserver ce véhicule immédiatement.">
                    <span><i class="fa fa-flash nbsp-large fs15"></i> Réservation instantanée</span>

                </span>
                  </div>
                  <p class="fs12 italic pdt-10" >* La plaque d’immatriculation n&nbsp;‘est pas visible par le locataire lorsqu’il visite votre annonce.</p>
              </div>
              <div class="vehicle-show-description">
                  <div class="row">
                      <div class="col-12 order-2 order-sm-1 col-sm-3 center d-flex flex-column justify-content-center align-items-center">
                          <img class="rounded-circle" width="50" height="50" th:src="${user.photoUrl != null ? user.photoUrl : '/uploads/profil/defaultPhoto.png'}" alt="">
                          <p th:text="${car.user.prenom}" class="capitalize c-grey">yassin</p>
                          <p class="fs12 lh-auto text-main">Membre depuis 2024</p>
                      </div>
                      <div class="col order-sm-2 order-sm-1">
                          <p class="mgb-30 c-grey"></p>
                      </div>

                  </div>

              </div>
              <div class="vehicle-carac mgb-40">

                  <div class="row">
                      <div class="col-12">
                          <h3 class="carac-icon pb-2 mb-0">
                              <img src="/icones/carac-voiture.png" width="100" alt="">
                              Caractéristiques
                          </h3>
                          <ul class="mb-2 pl-4">
                              <div class="row">
                                  <div class="row">
                                      <div class="col-lg-3 col-sm-2" th:each="carac, iterStat : ${car.features}">
                                          <li class="vehicle-carac-item c-grey medium mb-1 mr-0">
                                              <div class="row pb-1">

                                                  <div class="col-12 center fs13" th:text="${carac.name}"></div>
                                                  <div class="col-12 center fs13" th:text="${carac.description}"></div>
                                              </div>
                                          </li>
                                      </div>
                                  </div>

                              </div>
                          </ul>
                      </div>
                      <div class="col-12">
                          <h3 class="fs16 bold text-main pdb-20 mgb-0 option-title"> <img width="100" src="/icones/equip-voiture.png" alt="">
                              Equipements</h3>
                          <ul class="pl-4">
                              <div class="row">
                                  <div class="col-6 col-sm-3" th:each="equipement : ${car.equipments}">
                                      <p class="fs14 c-grey medium center mgb-20">
                                          <img class="bg-transparent" th:src="${equipement.icone}" alt="" width="50">
                                      </p>
                                      <p class="fs14 c-grey medium center mgb-20" th:text="${equipement.equipment}"></p>
                                  </div>
                              </div>
                          </ul>
                      </div>


                      <div class="col-12" th:if="${!#lists.isEmpty(car.conditions)}">
                          <h3 class="fs16 bold text-main pdb-20 mgb-0 option-title">
                              <img width="100" src="/images/conditionCar.png" alt="">
                              Conditions de location
                          </h3>
                          <ul class="pl-4">
                              <div class="row">
                                  <div class="col-6 col-sm-3" th:each="condition : ${car.conditions}">
                                      <p class="fs14 c-grey medium center mgb-20" th:text="${condition.condition}"></p>
                                  </div>
                              </div>
                          </ul>
                      </div>

                  </div>


              </div>
              <hr class="w80p">
          </div>

      </div>
        <div class="col-lg-4 col-md-12 mobile">




            <!-- VEHICLE PRICE -->

            <link rel="stylesheet" type="text/css" href="/css/vehicle-show-price.css?v=7.20.44">

            <div id="vehicle-price-block" class="vehicle-price bg-white mgb-20 ">
                <div class="row mgb-10 d-none d-lg-block">
                    <div class="col-lg-9 col-xs-9">
                        <p class="text-main medium fs16 mgt-20">A partir de</p>
                        <h2 id="price"><span class="price-value text-main">55 €</span>
                            <span class="fs20 text-main normal price-caption">/ prix par jour</span></h2>
                    </div>
                </div>
                <p class="fs12 c-grey mgb-40 d-none d-lg-block">Le prix est susceptible de varier selon la saison et la durée d'une location.

                </p>

            </div>

            <!-- VEHICLES ENABLE RULES -->



            <div class="vehicle-disabled-checkmark bg-white mgb-20">
                <h5 class="mgb-30">Informations manquantes</h5>
                <ul>
                    <p class="mgb-10"><i class="fa fa-check c-main nbsp-large"></i>Ajouter vos informations personnelles</p>
                    <p class="normal text-light mgb-10"><a class="fs14 c-main normal underline" href="/user/111716/bank-account?redirect_uri=http%253A%252F%252Fwww.zotcar.com%252Flocation%252Fvoiture%252Fla-reunion-particulier-29282%252Fshow"><i class="fa fa-times c-danger nbsp-large"></i>Ajouter vos informations bancaires</a></p>
                    <p class="normal text-light mgb-10"><a class="fs14 c-main normal underline" href="/user/111716/identity?redirect_uri=http%253A%252F%252Fwww.zotcar.com%252Flocation%252Fvoiture%252Fla-reunion-particulier-29282%252Fshow"><i class="fa fa-times c-danger nbsp-large"></i>Ajouter votre pièce d'identité</a></p>
                </ul>
            </div>



            <div class="vehicle-disabled-checkmark bg-white mgb-30">
                <h5 class="mgb-30">Complétez votre annonce</h5>
                <p class="mgb-10 vehicle-picture-checked"><a class="fs14 c-main normal underline add-picture-link" href="/user/111716/account"><i class="fa fa-times c-danger nbsp-large"></i>Ajouter des photos du véhicule</a></p>

                <p>
                    <i class="fa fa-check c-main nbsp-large"></i>
                    <a class="fs14 c-main normal underline" target="_blank" href="//s3-eu-west-1.amazonaws.com/zc-vehicles/vehicle/29282/registration_card/663b995175bb9.png">Ma carte grise</a>
                </p><div class="bg-warning bradius-bis c-white center fs12 inline-block medium pl-2 pr-2 mt-3">
                En attente de validation
            </div>
                <p></p>
            </div>
            <div class="">

                <p>
                    <a th:href="@{/account/cars/{id}/delete(id=${car.id})}"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Supprimer le véhicule"
                       class="remove-btn btn btn-outline-danger w100p mgt-20 lh32 fs14 h45 bradius"
                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette voiture ?');">
                        <span class="mgr-10"><i class="fa fa-remove" aria-hidden="true"></i></span>Supprimer le véhicule
                    </a>
                </p>
            </div>



        </div>
    </div>

  </div>
  </div>
</div>


