<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Header-car fragment</title>
</head>

<body>
<header th:fragment="header-car">

    <nav class="navbar bg-body-tertiary p-0 fst-italic">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <a class="navbar-brand p-0 m-0" th:href="@{/home}">
                    <img th:src="@{/images/DriveShareLogo.png}" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                </a>

            </div>
            <div class="d-flex align-items-center">
                <a class="navbar-brand text-light p-0 m-0 me-3" th:href="@{/cars}">
                    Nos Locations
                </a>

                <div th:if="${#authorization.expression('isAnonymous()')}">

                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div th:if="${user != null}">
                                <img th:src="@{${user.photoUrl}}" alt="Profil" class="profile-image"/>
                            </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/account}">Profil</a>
                            <a class="dropdown-item" th:href="@{/logout}">Déconnexion</a>
                        </div>
                    </div>
                </div>

                <a class="navbar-brand-custom" th:href="@{/whyRent}">
                    Louez votre voiture
                </a>
            </div>


        </div>
    </nav>
    <div class="first-menu" style="background-color: #8EAAB3;">
        <p class="nav-profil text-center">
            <a th:href="@{/account}" class="a active" ><i class="fa-regular fa-file-lines nbsp-large"></i>Mon compte</a>
            <a th:href="@{/voitures}" class="a ms-4" ><i class="fa fa-car nbsp-large"></i>Mes véhicules</a>
            <a th:href="@{/account}" class="a ms-4" ><i class="fa-regular fa-calendar-check nbsp-large"></i>Mes réservations</a>
        </p>
    </div>

    <div class="second-menu">
        <p class="text-center mgb-0">
            <a id="annonce-link" class="car-detail-onglet mgr-40 fs13 semi-bold active" data-bs-toggle="tab" href="#annonce-tab">Voir mon annonce</a>
            <a id="calendrier-link" class="car-detail-onglet mgr-40 fs13 semi-bold" data-bs-toggle="tab" href="#calendrier-tab">Calendrier</a>
            <a id="reservation-link" class="car-detail-onglet mgr-40 fs13 semi-bold" data-bs-toggle="tab" href="#reservation-tab">Mode de réservation</a>
            <a id="tarification-link" class="car-detail-onglet mgr-40 fs13 semi-bold" data-bs-toggle="tab" href="#tarification-tab">Tarification</a>
        </p>
    </div>
</header>



</body>

</html>