<!-- fragments/reservation.html -->
<div layout:fragment="reservation" id="reservation-tab" class="tab-content-car">
    <div class="container mt-5">
        <div id="booking-mode" class="step-item">
            <!-- Afficher le message flash s'il existe -->
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <span th:text="${successMessage}"></span>
            </div>
            <form class="mb-6 form-with-tip" method="POST" th:action="@{/car/update/reservation}" th:object="${car}" data-parsley-validate="" novalidate="">
                <div class="row border justify-content-center" style="margin-top:30px; border-radius: 1rem !important; background-color:white;">
                    <div class="col-lg-12">
                        <h3 style="margin-top:20px; padding-left:20px">
                            <span class="actually"><i class="fa fa-check"></i></span> Actuellement, vous êtes en mode
                            <span id="current-mode" class="auto-manu" th:text="${car.modeReservation}"></span>
                        </h3>
                        <div class="row mt-3">
                            <div class="col-lg-6" style="padding: 10px;">
                                <a href="#" class="choose-automatic-reservation">
                                    <p class="p-manuel-auto">Mode automatique <span class="c-white fs10 bg-warning medium pdl-6 pe-6 h25 inline-block bradius-bis nbsp-large-left">Recommandé</span></p>
                                </a>
                            </div>
                            <div class="col-lg-6" style="padding: 10px;">
                                <a href="#" class="choose-manual-reservation">
                                    <p class="p-manuel-auto">Mode manuel</p>
                                </a>
                            </div>
                        </div>
                        <div class="reservation-mode-detail">
                            <div class="reservation-mode-auto">
                                <p class="mt-2 mb-4">Votre voiture pourra être réservée instantanément par le locataire. C'est le moyen le plus simple et le plus efficace de proposer sa voiture en location.</p>
                                <div class="row">
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2 ">
                                            <div class="text-center mt-3 mb-3">
                                                <img class="w160" src="/images/carte.png" alt="">
                                            </div>
                                            <p class="medium fs16">Les locataires consultent les annonces sur le site</p>
                                            <p class="">Toute personne qui souhaite réserver votre voiture, doit confirmer ses coordonnées, fournir ses informations bancaires.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2">
                                            <div class="text-center mt-3 mb-3">
                                                <img width="160" src="/images/carte2.png" alt="">
                                            </div>
                                            <p class="p-reservation">Vous définissez vos règles de location</p>
                                            <p class="">Vous tenez à jour un calendrier de disponibilités de votre voiture, vous décider quand et à quelle heure vous êtes disponible. Vous êtes prévenu suffisamment à l'avance.</p>
                                            <div class="mt-2">
                                                <a class="medium c-main fs14 choose-manual-booking">Je souhaite examiner chaque demande</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2">
                                            <div class="text-center  mt-3 mb-3">
                                                <img width="160" src="/images/carte3.png" alt="">
                                            </div>
                                            <p class="p-reservation">Vous recevez une notification dès qu’un locataire effectue une réservation</p>
                                            <p class="">Vous recevrez immédiatement un e-mail de confirmation contenant les informations, la date et l'heure de la réservation. Vous pouvez alors discuter avec votre locataire pour affiner les détails.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reservation-mode-manual hide">
                                <p class="mt-2 mb-4">Chaque fois qu'un locataire sera intéressé par votre voiture, il devra préalablement vous envoyer une demande de réservation.</p>
                                <div class="row">
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2 ">
                                            <div class="text-center mt-3 mb-3">
                                                <img width="160" src="/images/carte4.png" alt="">
                                            </div>
                                            <p class="p-reservation">Les locataires consultent les annonces sur le site</p>
                                            <p class="">Chaque personne qui souhaite réserver votre voiture doit vous envoyer une demande de location en précisant les dates et le lieu de location souhaité.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2">
                                            <div class="text-center  mgt-30 mgb-30">
                                                <img width="160" src="/images/carte5.png" alt="">
                                            </div>
                                            <p class="p-reservation">Vous choisissez d'accepter ou refuser chaque demande</p>
                                            <p class="">Vous disposez de 48h maximum pour accepter ou refuser la demande. Vous pouvez aussi discuter avec le locataire.</p>
                                            <div class="mt-2">
                                                <p class="fs14"><a class="medium c-main choose-automatic-booking">Je souhaite activer la réservation instantanée</a><span class="c-white fs10 bg-warning medium pdl-6 pdr-6 h25 inline-block bradius-bis nbsp-large-left">Recommandé</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 " style="margin-bottom: 20px;">
                                        <div class="card-reservation p-2">
                                            <div class="text-center mt-3 mb-3">
                                                <img width="160" src="/images/carte6.png" alt="">
                                            </div>
                                            <p class="p-reservation">Le locataire doit alors confirmer la réservation</p>
                                            <p class="">Une fois la demande acceptée, le locataire dispose de 48h pour procéder au paiement et confirmer ou non la réservation.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="page" value="booking_mode">
                    <input type="hidden" name="booking_mode" value="1" id="booking-mode-input">
                    <input type="hidden" name="vehicle_id" th:value="${car.id}">

                    <div class="col-lg-12 text-center" style="margin-bottom:30px; margin-top: 30px;">
                        <button class="btn btn-success enregistrer" style="margin-top: 30px;">
                            <span class="load-el hide"><i class="fa fa-spinner fa-spin"></i></span>
                            <span class="not-load-el">Enregistrer</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
