<!-- fragments/tarification.html -->
<div layout:fragment="tarification" id="tarification-tab" class="tab-content-car">
    <!-- Contenu spécifique de l'onglet "Tarification" -->
    <div id="vehicle-edit" class="body-container bg-f6f8f9">
        <div class="container mt-5">


            <div id="pricing" class="step-item">
                <form class="mgb-60 form-with-tip" method="POST" th:action="@{/car/update/tarification}" data-parsley-validate="" novalidate="">
                    <div class="row">
                        <div class="col-lg-12 bg-white border bradius mgt-30 ">
                            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                                <span th:text="${successMessage}"></span>
                            </div>
                            <div class="row mgt-30 pdl-20 pdr-20">
                                <div class="col-lg-6 pd-10">
                                    <a class="inline-block bradius-bis border h100p w100p bg-main-light choose-smart-pricing">
                                        <p class="pd-30 bold fs18 text-center">Tarification intelligente <span class="c-white fs10 bg-warning medium pdl-6 pdr-6 h25 inline-block bradius-bis nbsp-large-left">Recommandé</span></p>
                                    </a>
                                </div>
                                <div class="col-lg-6 pd-10">
                                    <a class="inline-block bradius-bis border h100p w100p  choose-manual-pricing">
                                        <p class="pd-30 bold fs18 text-center">Tarification manuelle</p>
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-detail pdl-20 pdr-20">
                                <div class="manual-pricing">
                                    <div class="row">
                                        <div class="col-lg-12 mgt-20 mgb-30">
                                            <p>Choisissez un tarif fixe pour chaque saison. <a class="c-main italic underline" href="/calendrier-saison?territory_code=MQ" target="_blank">Voir le calendrier de saison</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 text-center">
                                            <p class="medium mgb-10 tcenter">Prix basse saison <span class="normal italic">(€)</span></p>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="number" class="form-control bradius-bis w100p text-center price-input" name="low_season_price" min="10" max="200" value="45" data-parsley-id="6" th:value="${car.price.lowPrice}">
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="mgl-40 tcenter">Prix de votre voiture pour une journée de location  en basse saison.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-center">
                                            <p class="medium mgb-10 tcenter">Prix Moyenne saison <span class="light italic">(€)</span></p>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="number" class="form-control bradius-bis w100p text-center price-input" name="medium_season_price" min="10" max="200" value="55" data-parsley-id="8" th:value="${car.price.middlePrice}">
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="mgl-40">Prix de votre voiture pour une journée de location , en moyenne saison.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-center">
                                            <p class="medium mgb-10">Prix Haute saison <span class="text-muted">(€)</span></p>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="number" class="form-control bradius-bis w100p text-center price-input" name="high_season_price" min="10" max="200" value="74" data-parsley-id="10" th:value="${car.price.highPrice}">
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="mgl-40 ">Prix de votre voiture pour une journée de location, en haute saison.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a id="toggle-link">Voir la tarification des véhicules</a>

                                    <div id="pricing-container" class="pricing-container">
                                        <table class="pricing-table">
                                            <thead>
                                            <tr>
                                                <th>Catégorie</th>
                                                <th>Basse Saison</th>
                                                <th>Moyenne Saison</th>
                                                <th>Haute Saison</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Citadine</td>
                                                <td>20€ / jour</td>
                                                <td>30€ / jour</td>
                                                <td>40€ / jour</td>
                                            </tr>
                                            <tr>
                                                <td>Berline</td>
                                                <td>30€ / jour</td>
                                                <td>40€ / jour</td>
                                                <td>50€ / jour</td>
                                            </tr>
                                            <tr>
                                                <td>SUV</td>
                                                <td>50€ / jour</td>
                                                <td>60€ / jour</td>
                                                <td>70€ / jour</td>
                                            </tr>
                                            <tr>
                                                <td>4x4</td>
                                                <td>60€ / jour</td>
                                                <td>70€ / jour</td>
                                                <td>80€ / jour</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <hr class="mgb-30 mgt-30">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2 class="fs20 bold mgb-20 mgt-30">
                                                <img src="/images/vehicle-registration/amount_rate.svg?v=7.20.47" class="w100 nbsp-large vertical-bottom" alt="">
                                                <span>Tarifs spéciaux location longue durée</span>
                                            </h2>
                                            <p class="medium mgb-10">Location moyenne durée <span class="light italic fs12">(supérieure ou égale à 14 jours)</span></p>
                                            <div class="row mgt-20">
                                                <div class="col-lg-2">
                                                    <select class="form-control text-center bradius-bis " name="promo1" data-parsley-id="12" >
                                                        <option value="0" th:selected="${car.price.promo1 == 0}">0%</option>
                                                        <option value="10" th:selected="${car.price.promo1 == 10}">10%</option>
                                                        <option value="20" th:selected="${car.price.promo1 == 20}">20%</option>
                                                        <option value="30" th:selected="${car.price.promo1 == 30}">30%</option>
                                                        <option value="40" th:selected="${car.price.promo1 == 40}">40%</option>
                                                        <option value="50" th:selected="${car.price.promo1 == 50}">50%</option>
                                                    </select>
                                                    <span class="select-icon text-more-light"><i class="fa fa-angle-down fa-2x"></i></span>
                                                </div>
                                                <div class="col-lg-8 text-center">
                                                    <p class="fs14">Taux de réduction pour les locations d'une durée supérieure ou égale à 14 jours.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mgt-20">
                                            <p class="medium mgb-10">Location longue durée <span class="light italic fs12">(supérieure ou égale à 60 jours)</span></p>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <select class="form-control text-center bradius-bis" name="promo2" data-parsley-id="14">
                                                        <option value="0" th:selected="${car.price.promo2 == 0}">0%</option>
                                                        <option value="10" th:selected="${car.price.promo2 == 10}">10%</option>
                                                        <option value="20" th:selected="${car.price.promo2 == 20}">20%</option>
                                                        <option value="30" th:selected="${car.price.promo2 == 30}">30%</option>
                                                        <option value="40" th:selected="${car.price.promo2 == 40}">40%</option>
                                                        <option value="50" th:selected="${car.price.promo2 == 50}">50%</option>
                                                    </select>
                                                    <span class="select-icon text-more-light"><i class="fa fa-angle-down fa-2x"></i></span>
                                                </div>
                                                <div class="col-lg-8 text-center">
                                                    <p class="fs14">Taux de réduction pour les locations d'une durée supérieure ou égale à 60 jours.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" th:value="${car.id}" name="vehicle_id">                                <div class="row justify-content-center mgb-30 mgt-30">
                                    <div class="col-lg-3">
                                        <button class="btn btn-success w100p mgt-30">
                                            <span class="load-el hide"><i class="fa fa-spinner fa-spin"></i></span>
                                            <span class="not-load-el">Enregistrer</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const minusBtn = document.getElementById('minus-btn-min-price');
    const plusBtn = document.getElementById('plus-btn-min-price');
    const input = document.getElementById('minimum-price-input');

    minusBtn.addEventListener('click', function() {
        const currentValue = parseInt(input.value, 10);
        if (currentValue > parseInt(input.min, 10)) { // S'assurer que la valeur ne descend pas en dessous du minimum
            input.value = currentValue - 1;
        }

    });

    plusBtn.addEventListener('click', function() {
        const currentValue = parseInt(input.value, 10);
        if (currentValue < parseInt(input.max, 10)) { // S'assurer que la valeur ne monte pas au-dessus du maximum
            input.value = currentValue + 1;
        }
    });

});
</script>
<script>

document.addEventListener("DOMContentLoaded", function() {
    const toggleLink = document.getElementById("toggle-link");
    const pricingContainer = document.getElementById("pricing-container");

    // Vérifiez que les éléments existent avant d'attacher des événements
    if (toggleLink && pricingContainer) {
        toggleLink.addEventListener("click", function() {
            pricingContainer.classList.toggle("show");
            // Change the link text based on the visibility of the pricing table
            if (pricingContainer.classList.contains("show")) {
                toggleLink.textContent = "Masquer la tarification des véhicules";
            } else {
                toggleLink.textContent = "Voir la tarification des véhicules";
            }
        });
    } else {
        console.error("L'un des éléments n'a pas été trouvé dans le DOM.");
    }
});
</script>

<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    /* Styles supplémentaires pour visualiser */
    input[type="number"] {
        border: 1px solid #ccc;
        padding: 10px;
        width: 100px;
    }

    .pricing-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .pricing-container.show {
        max-height: 500px; /* Ajustez cette valeur en fonction de la hauteur du tableau */
        opacity: 1;
    }

    a {
        cursor: pointer;
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

