<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Se Connecter - DriveShare</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div id="signin" class="container-fluid pd-0" style="background-color: #D5DDE1;">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <div class="logo-custom">
                    <p class="text-center">
                        <a class="navbar-brand" href="/home"><img class="img-fluid mt-3" height="42px" src="/images/DriveSharelogo.png" alt="Driveshare"></a>
                    </p>
                </div>
                <div id="buttons-container" class="row justify-content-center mgt-30 ml-auto mr-auto">
                    <div class="col-6 p-0">
                        <a id="connexion-link" class="ds-nav-link justify-content-center" href="#" onclick="showTab('signin-layout-connexion')">
                            <span class="pdb-10 text-center w100p">SE CONNECTER</span>
                        </a>
                    </div>
                    <div class="col-6 p-0">
                        <a id="inscription-link" class="ds-nav-link justify-content-center" href="#" onclick="showTab('signin-layout-inscription')">
                            <span class="pdb-10 text-center w100p">S'INSCRIRE</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="left-container d-flex flex-column justify-content-between">
                <div id="signin-layout-connexion" class="signin-layout-connexion tab-pane active">
                    <div class="custom-form">
                        <div class="row pdt-30">
                            <div class="col-sm-12">
                                <h1 class="title-custom bold text-main fs28 mgb-40">Connectez-vous à votre compte</h1>
                            </div>
                            <div id="alert-message" class="col-sm-12 hide">
                                <div id="alert-message-content"></div>
                            </div>
                        </div>
                        <form id="signin-form" method="POST" class="d-flex flex-column justify-content-around" th:action="@{/login}">
                            <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
                            <div class="row inner-addon left-addon">
                                <div class="col-sm-12">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input type="email" name="username" class="form-control input-custom" placeholder="Email" id="email-input-login" value="" required>
                                </div>
                            </div>
                            <div class="row inner-addon left-addon mgt-20">
                                <div class="col-sm-12">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <input type="password" name="password" class="form-control mgb-0 input-custom" placeholder="Mot de passe" minlength="4" id="password-input-login" required>
                                </div>
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                            </div>
                            <input type="hidden" name="redirect_uri" value=/>
                            <div class="row mgt-20">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                                        Mot de passe oublié ?
                                    </button>
                                </div>
                            </div>
                            <div class="row mgt-40">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-lg btn-block submit-custom-button">
                                        <span class="not-load-el">Se connecter</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-3">
                            <div class="col-sm-12">
                                <p class="tcenter force-mobile-block fs12 bold">Pas encore de compte sur DriveShare ?
                                  <a href="#" onclick="showInscription()" class="pdl-10 semi-bold c-main ms-2">S'inscrire</a>                            </div>
                        </div>
                    </div>
                </div>
                <div id="signin-layout-inscription" class="signin-layout-inscription tab-pane">
                    <div class="custom-form">
                        <div class="row pdt-30">
                            <div class="col-sm-12">
                                <p class="title-custom">Inscription</p>
                            </div>
                        </div>
                        <form id="signup-form" class="needs-validation" th:action="@{/register}" th:object="${user}" method="post" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div> <!-- Message d'erreur personnalisé -->
                                        <i class="fa fa-user fs20 text-more-light" aria-hidden="true"></i>
                                        <input type="text" name="lastName" class="form-control input-custom" id="name" placeholder="Nom" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div> <!-- Message d'erreur personnalisé -->
                                        <i class="fa fa-user fs20 text-more-light" aria-hidden="true"></i>
                                        <input type="text" name="firstName" class="form-control input-custom" id="first-name-input" placeholder="Prénom" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa-solid fa-house" aria-hidden="true"></i>
                                        <input type="text" name="adresse" class="form-control input-custom" id="address-input" placeholder="Adresse" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa-solid fa-envelopes-bulk" aria-hidden="true"></i>
                                        <input type="text" name="postalCode" class="form-control input-custom" id="postal-code-input" placeholder="Code Postal" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa-solid fa-house" aria-hidden="true"></i>
                                        <input type="text" name="locality" class="form-control input-custom" id="city-input" placeholder="Commune" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa fa-envelope fs20 text-more-light" aria-hidden="true"></i>
                                        <input type="email" name="email" class="form-control input-custom" placeholder="Email" id="email-input-register" required>

                                        <!-- Affichage de l'erreur si l'email est déjà utilisé -->
                                        <div th:if="${emailError}" class="text-danger" th:text="${emailError}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa fa-phone fs20 text-more-light" aria-hidden="true"></i> <!-- Icône de téléphone -->
                                        <input type="tel" name="phone" class="form-control input-custom" id="tel_number_input" placeholder="Téléphone" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa fa-lock fs20 text-more-light" aria-hidden="true"></i>
                                        <input type="password" name="password" class="form-control mgb-0 input-custom" placeholder="Mot de passe" minlength="4" id="password-input-register" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inner-addon left-addon">
                                        <div class="invalid-feedback">Champ obligatoire</div>
                                        <i class="fa fa-lock fs20 text-more-light" aria-hidden="true"></i>
                                        <input type="password" name="confirm_password" class="form-control mgb-0 input-custom" placeholder="Confirmer le mot de passe" minlength="4" id="confirm-password-input" required>
                                    </div>
                                </div>
                            </div>

                            <!-- Case à cocher pour accepter la politique de confidentialité -->
                            <div class="form-group mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="privacyPolicyCheck" required>
                                    <label class="form-check-label" for="privacyPolicyCheck">
                                        J'accepte la <a href="/uploads/documents/politique-de-confidentialite.pdf" target="_blank">Politique de confidentialité</a> de DriveShare
                                    </label>
                                    <div class="invalid-feedback">Vous devez accepter la politique de confidentialité avant de vous inscrire.</div>
                                </div>
                            </div>

                            <div class="row mgt-20">
                                <button type="submit" class="btn submit-custom-button">S'inscrire</button>
                            </div>
                        </form>

                        <div class="row justify-content-center mt-3">
                            <p class="small text-muted">Déjà un compte sur DriveShare ?<a href="#" onclick="showConnexion()" class="pdl-10 semi-bold c-main"> Se connecter</a>
                        </div>
                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <p class="small text-muted lh-auto pdt-20">Pour devenir membre,
                                    les informations ci-dessus sont toutes obligatoires.
                                    Elles sont collectées par DriveShare afin de créer votre compte,
                                    communiquer avec nous ou les membres et, le cas échéant,
                                    mettre un terme à notre relation. Vous disposez d’un droit d’accès,
                                    de rectification et d’opposition.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 image-container pd-0 d-lg-block d-none">
            <img id="connexion-image" class="signin-picture" src="images/connexion.jpg" alt="connexion-pic">
            <img id="inscription-image" class="signin-picture" src="images/inscription.jpg" alt="inscription-pic">
        </div>
    </div>
</div>
<script src="/js/connexion.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Réinitialisation de mot de passe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm">
                    <div class="form-group">
                        <label for="email-reset">Adresse Email</label>
                        <input type="email" class="form-control" id="email-reset" placeholder="Entrer votre email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer l'email de réinitialisation</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
 document.getElementById('forgotPasswordForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const email = document.getElementById('email-reset').value;

    fetch('/api/password/forgot', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: new URLSearchParams({
        'email': email
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert(data.message);
        var modal = bootstrap.Modal.getInstance(document.getElementById('forgotPasswordModal'));
        modal.hide();
      } else {
        alert(data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Une erreur est survenue.');
    });
  });


(function () {
    'use strict';

    // Récupérer tous les formulaires auxquels on veut appliquer le style Bootstrap
    var forms = document.querySelectorAll('.needs-validation');

    // Boucle sur chaque formulaire et empêcher la soumission si les champs ne sont pas valides
    Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        }, false);
    });
})();
</script>

</body>
</html>
