<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
    <style>
        .tab {
            display: none;
        }
        .active {
            display: block;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8"> <!-- Changez la taille de la première colonne -->
                <div class="card custom-card">
                    <div class="card-header pt-0 ps-2">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" id="loginTab">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="registerTab">Inscription</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <div class="tab active" id="loginContent">
                            <div class="row"> <!-- Ajoutez align-items-center pour centrer verticalement -->
                                <div class="col-md-5 ps-0"> <!-- Changez la taille de la première colonne -->
                                    <img th:src="@{/images/imagelogin.png}" class="img-fluid" width="437">
                                </div>
                                <div class="col-md-7">
                                    <div class="text-center mt-5"><!-- Changez la taille de la deuxième colonne -->
                                        <img th:src="@{/images/logoNoir.png}" class="img-fluid" width="166">
                                    </div>
                                    <div class="col-md-8 mx-auto my-5">
                                        <form class="custom-form">
                                            <!-- Vos champs de formulaire pour la connexion -->
                                            <label for="email" class="ms-1">Email</label>
                                            <input type="email" id="email" class="form-control">

                                            <label for="password" class="ms-1">Password</label>
                                            <input type="password" id="password" class="form-control">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab" id="registerContent">
                            <form class="custom-form">
                                <div class="row">
                                    <div class="col-md-5 ps-0"> <!-- Changez la taille de la première colonne -->
                                        <img th:src="@{/images/registerImage.png}" class="img-fluid" width="437">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-center mt-5"><!-- Changez la taille de la deuxième colonne -->
                                            <img th:src="@{/images/logoNoir.png}" class="img-fluid" width="166">
                                        </div>
                                        <div class="col-md-8 mx-auto my-5">
                                            <!-- Première ligne -->
                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <label for="nom" class="form-label ms-1 mb-0">Nom</label>
                                                    <input type="text" class="form-control" id="nom" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="prenom" class="form-label ms-1 mb-0">Prénom</label>
                                                    <input type="text" class="form-control" id="prenom" required>
                                                </div>
                                            </div>

                                            <!-- Deuxième ligne -->
                                            <div class="row mb-2">
                                                <div class="col-md-12">
                                                    <label for="email" class="form-label ms-1 mb-0">Email</label>
                                                    <input type="email" class="form-control" id="email" required>
                                                </div>
                                            </div>

                                            <!-- Troisième ligne -->
                                            <div class="row mb-2">
                                                <div class="col-md-12">
                                                    <label for="adresse" class="form-label ms-1 mb-0">Adresse</label>
                                                    <input type="text" class="form-control" id="adresse" required>
                                                </div>
                                            </div>

                                            <!-- Quatrième ligne -->
                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <label for="codepostal" class="form-label ms-1 mb-0">Code Postal</label>
                                                    <input type="text" class="form-control" id="codepostal" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="commune" class="form-label ms-1 mb-0">Commune</label>
                                                    <input type="text" class="form-control" id="commune" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cinquième ligne -->
                                <div class="row mb-3 mt-3">
                                    <div class="col-md-4">
                                        <label for="date_naissance" class="form-label ms-1 mb-0">Date de Naissance</label>
                                        <input type="date" class="form-control" id="date_naissance" required>
                                    </div>

                                    <!-- Sixième ligne -->
                                    <div class="col-md-4">
                                        <label for="password" class="form-label ms-1 mb-0">Mot de passe</label>
                                        <input type="password" class="form-control" id="password" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="confirm_password" class="form-label ms-1 mb-0">Confirmation de Mot de passe</label>
                                        <input type="password" class="form-control" id="confirm_password" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label for="profil_photo" class="form-label ms-1 mb-0">Photo de Profil</label>
                                        <input type="file" class="form-control" id="profil_photo" accept="image/*" required>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="permis_conduire" class="form-label ms-1 mb-0">Permis de Conduire</label>
                                        <input type="file" class="form-control" id="permis_conduire" accept=".pdf" required>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="carte_identite" class="form-label ms-1 mb-0">Carte d'Identité</label>
                                        <input type="file" class="form-control" id="carte_identite" accept="image/*,.pdf" required>
                                    </div>
                                </div>

                                <br><br>

                                <div class="row mb-2 text-center"> <!-- Ajoutez la classe text-center pour centrer le bouton -->
                                    <div class="col-md-4 offset-md-4">
                                        <button type="submit" class="btn btn-primary ps-3 pe-3 mt-5 mb-3">S'inscrire</button>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
