<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Détails de la voiture</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9">
                <div class="rounded-custom-border p-4">
                    <div class="d-flex justify-content-center">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="max-width: 700px;">
                            <div class="carousel-inner">
                                <div th:each="photo, iterStat : ${car.photos}" class="carousel-item" th:classappend="${iterStat.first}? 'active'">
                                    <img th:src="'/uploads/' +${photo.url}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <h1 class="fw-bold mt-2" th:text="${car.brand + ' ' + car.model}"></h1><br>
                        <span th:text="${car.fuelType}"></span><br>
                        <span>
                            <span th:each="star : ${#numbers.sequence(1, averageRating)}" class="star-filled">&#9733;</span>
                            <span th:each="star : ${#numbers.sequence(0, 5 - averageRating)}" class="star-filled">&#9734;</span>
                            <span th:text="${averageRating}"></span> (<span th:text="${totalEvaluations}"></span>)
                        </span>
                    </div>
                </div>

                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Adresse de départ et de retour</h2>
                    <div class="row m-3">
                        <div class="col-md-6 text-center">
                            <img th:src="@{/images/iconMapDetail.png}" class="img-fluid" alt="iconMap" width="100px">
                            <h4>À proximité de</h4><br>
                            <span class="text-center" th:text="${car.adresse}"></span><br>
                            <span class="text-center" th:text="${car.codePostal + ' ' + car.locality}"></span>
                        </div>
                        <div class="col-md-6">
                            <img th:src="@{/images/mapCar.png}" class="img-fluid" alt="iconMap" width="400px">
                        </div>
                    </div>
                </div>


                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Propriétaire</h2>
                    <div class="row m-3">
                        <div class="col-md-2">
                            <img th:if="${car.user.photoUrl != null}" th:src="${'/uploads/profil/' + car.user.photoUrl}" class="img-fluid" alt="User Profile Picture" width="100px">
                        </div>
                        <div class="col-md-10 ">
                            <h2 class="fw-bold" th:text="${car.user.prenom + ' ' + car.user.nom}"></h2>
                            <span th:text="${car.user.adresse}"></span><br>
                            <span th:text="${car.user.codePostal + ' ' + car.user.locality}"></span>
                        </div>

                    </div>
                </div>

                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Conditions requises par le propriétaire</h2>
                        <div th:if="${car.conditions != null}">
                            <div class="row m-3">
                            <div th:each="condition, iterStat : ${car.conditions}" class="col-md-6">
                                <div class="text-center m-1 custom-cond">
                                    <span th:text="${condition.condition}"></span>
                                </div>
                            </div>
                        </div>
                        <div th:if="${car.conditions == null or #lists.isEmpty(car.conditions)}">
                            <span>Aucune condition requise par le propriétaire.</span>
                        </div>
                    </div>
                </div>

                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Caractéristiques techniques</h2>
                    <div th:if="${car.features != null}">
                        <div class="row m-3" >
                            <div th:each="feature, iterStat : ${car.features}" class="col-md-3">
                                <div class="text-center m-1">
                                    <span style="font-style: italic;" th:text="${feature.name}"></span><br>
                                    <span style="font-style: italic;" th:text="${feature.description}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div th:if="${car.features == null or #lists.isEmpty(car.features)}">
                            <span>Aucune caractéristique associée à la voiture.</span>
                        </div>
                    </div>

                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Équipements</h2>
                    <div th:if="${car.equipments != null}">
                        <div class="row m-3">
                            <div th:each="equipment, iterStat : ${car.equipments}" class="col-md-3">
                                <div class="text-center m-1">
                                    <img th:src="${equipment.icone}" alt="Equipment Icon" width="50px" height="50px"><br>
                                    <span style="font-style: italic;" th:text="${equipment.equipment}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${car.equipments == null or #lists.isEmpty(car.equipments)}">
                        <span>Aucun equipements associée à la voiture.</span>
                    </div>
                </div>

                <div class="rounded-custom-border p-4 mt-3">
                    <h2 class="fw-bold">Évaluations</h2>
                    <div th:if="${#lists.isEmpty(car.carRentals.![evaluations])}">
                        <span>Aucune évaluation à ce jour.</span>
                    </div>
                    <div th:each="carRental : ${car.carRentals}" th:if="${not #lists.isEmpty(carRental.evaluations)}">
                        <div th:each="evaluation : ${carRental.evaluations}" class="col-md-12">
                            <div class="row m-3">
                                <div class="col-md-2 m-1">
                                    <img th:if="${evaluation.carRental.user.photoUrl != null}" th:src="@{'/uploads/profil/' + ${evaluation.carRental.user.photoUrl}}" alt="Profil" width="100px" height="100px">
                                </div>
                                <div class="col-md-7">
                                    <span class="fw-bold" th:text="${evaluation.carRental.user.nom + ' ' + evaluation.carRental.user.prenom.substring(0,1) + '.'}"></span><br>
                                    <span th:text="${evaluation.avis}"></span><br>
                                    <span th:each="star : ${#numbers.sequence(1, 5)}">
                        <span th:if="${evaluation.note >= star}" class="star-filled">&#9733;</span>
                        <span th:unless="${evaluation.note >= star}" class="star-filled">&#9734;</span>
                    </span>
                                </div>
                                <div class="col-md-2 text-end">
                                    <span th:text="${#temporals.format(evaluation.createdAt, 'dd-MM-yyyy')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>



        <!-- Reservation FIXED -->
        <div class="col-md-3 d-flex align-items-center justify-content-center position-fixed top-50 end-0 translate-middle-y">
            <div class="custom-border p-3 text-center">
                <p th:text="${car.price.middlePrice + '€'}" class="fw-bold fs-2 m-0"></p>
                <p th:text="'/jour'" class="fs-6 m-0"></p>
                <br>
                <a th:href="@{'/reservation/' + ${car.id}}" class="custom-reserver btn fw-bold fw-italic">Réserver</a>
            </div>
        </div>
    </div>
</body>
</html>
