<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Liste des voitures</title>


</head>
<body>
<div layout:fragment="content">
  <div class="container pdb-30">

    <div class="search-container">
      <form class="searchForm" id="rechercheForm" onsubmit="return searchCars(event)" method="GET">
        <div class="row m-5">
          <div class="col-md-4 d-flex align-items-center">
            <img src="icones/espace-reserve.png" alt="globe" style="width: 20px; height: auto;">
            <input type="text" class="form-inline searchForm" id="manualAddress" name="manualAddress" placeholder="Entrez votre adresse" >
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <input type="date" class="no-border rounded-0" placeholder="Date de début" id="dateDebut" name="dateDebut">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <input type="date" class="no-border rounded-end" placeholder="Date de fin" id="dateFin" name="dateFin">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="col-md-2 bold text-center c-white no-padding">
            <button type="submit" class="btn btn-success bold no-padding" style="background-color: #354C6F;">Rechercher</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row justify-content-center mt-5">
      <!-- Colonne de filtres (sur les grands écrans uniquement) -->
      <div class="col-lg-3 d-none d-lg-block mgb-20">
        <form class="form-shadow">
          <div class="search-filter-item mb-3">
            <h6 class="search-title"><img src="icones/voiture-electrique.png" class="img-fluid" width="25" alt="voiture"> Catégorie de véhicule</h6>
            <hr>
            <div th:each="categorie : ${categories}">
              <div class="form-check">
                <input class="form-check-input category-filter" type="checkbox" th:value="${categorie.category}" th:id="${categorie.id}">
                <label class="form-check-label" th:for="${categorie.id}" th:text="${categorie.category}"></label>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="priceRange">
              <img src="icones/prix.png" class="img-fluid" width="25" alt="voiture"> Prix
            </label>
            <input type="range" class="form-range" id="priceRange" min="0" max="150" step="1" value="0">
            <div id="priceValue">0 €</div>
          </div>
          <br>
          <div class="search-filter-item mb-3">
            <h6 class="search-title"><img src="icones/boite-de-vitesses.png" class="img-fluid" width="25" alt="voiture"> Boite de vitesse</h6>
            <hr>
            <div class="form-check">
              <input class="form-check-input gearbox-filter" type="checkbox" value="manuelle">
              <label class="form-check-label">Manuelle</label>
            </div>
            <div class="form-check">
              <input class="form-check-input gearbox-filter" type="checkbox" value="automatique">
              <label class="form-check-label">Automatique</label>
            </div>
          </div>
          <br>

          <div class="search-filter-item mb-3">
            <h6 class="search-title"><img src="icones/pompe-a-essence.png" class="img-fluid" width="25" alt="voiture"> Motorisation</h6>
            <hr>
            <div class="form-check">
              <input class="form-check-input motorisation-filter" type="checkbox" value="essence">
              <label class="form-check-label">Essence</label>
            </div>
            <div class="form-check">
              <input class="form-check-input motorisation-filter" type="checkbox" value="diesel">
              <label class="form-check-label">Diesel</label>
            </div>
            <div class="form-check">
              <input class="form-check-input motorisation-filter" type="checkbox" value="hybride">
              <label class="form-check-label">Hybride</label>
            </div>
            <div class="form-check">
              <input class="form-check-input motorisation-filter" type="checkbox" value="electrique">
              <label class="form-check-label">Electrique</label>
            </div>
          </div>
          <br>
          <div class="search-filter-item mb-3">
            <h6 class="search-title"><img src="icones/compteur-de-vitesse.png" class="img-fluid" width="25" alt="voiture"> Kilométrage du véhicule</h6>
            <hr>
            <div class="form-check">
              <input class="form-check-input kilometrage-filter" type="checkbox" value="0 - 15 000 km">
              <label class="form-check-label">0 - 15 000 km</label>
            </div>
            <div class="form-check">
              <input class="form-check-input kilometrage-filter" type="checkbox" value="15 000 - 50 000 km">
              <label class="form-check-label">15 000 - 50 000 km</label>
            </div>
            <div class="form-check">
              <input class="form-check-input kilometrage-filter" type="checkbox" value="50 000 - 100 000 km">
              <label class="form-check-label">50 000 - 100 000 km</label>
            </div>
            <div class="form-check">
              <input class="form-check-input kilometrage-filter" type="checkbox" value="100 000 - 150 000 km">
              <label class="form-check-label">100 000 - 150 000 km</label>
            </div>
            <div class="form-check">
              <input class="form-check-input kilometrage-filter" type="checkbox" value="Plus de 150 000 km">
              <label class="form-check-label">Plus de 150 000 km</label>
            </div>

          </div>

          <br>
          <div class="search-filter-item mb-3">
            <h6 class="search-title"><img src="icones/siege.png" class="img-fluid" width="25" alt="voiture"> Nombre de places</h6>
            <hr>
            <div class="form-check">
              <input class="form-check-input places-filter" type="checkbox" value="3 places">
              <label class="form-check-label">3 places</label>
            </div>
            <div class="form-check">
              <input class="form-check-input places-filter" type="checkbox" value="4 places">
              <label class="form-check-label">4 places</label>
            </div>
            <div class="form-check">
              <input class="form-check-input places-filter" type="checkbox" value="5 places">
              <label class="form-check-label">5 places</label>
            </div>
            <div class="form-check">
              <input class="form-check-input places-filter" type="checkbox" value="7 places">
              <label class="form-check-label">7 places</label>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary ps-3 pe-3 " id="resetButton">Réinitialiser</button>
          </div>
        </form>
      </div>

      <!-- Colonne principale pour afficher les voitures -->
      <div class="col-lg-9">
        <div class="d-flex justify-content-between">
          <h6 class="search-title">Trier par :</h6>
          <nav class="filter-top">
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a href="#" class="nav-link sort-link active" data-sort="default">Classement des véhicules</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link sort-link" data-sort="acceptance">Taux d'acceptation</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link sort-link" data-sort="price">Prix croissant</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link sort-link" data-sort="rating">Evaluation</a>
              </li>
            </ul>
          </nav>
        </div>
        <div id="loading-spinner" style="display: none;">
          <div class="spinner-border" role="status">
            <span class="sr-only">Chargement...</span>
          </div>
        </div>
        <!--<div class="row g-3 p-3" id="carList"></div>-->

        <div class="row g-3 p-3" id="carList" >
          <div class="col-lg-12">
          <!-- Boucle sur chaque voiture pour créer une carte -->
          <div class="mb-3" th:each="car : ${cars}">
            <div class="card p-3 rounded">
              <a th:href="@{'/cars/' + ${car.id}}" class="card-link">
                <div class="row g-0">
                  <!-- Colonne pour l'image -->
                  <div class="col-md-3">
                    <!-- Afficher uniquement la première image de la voiture -->
                    <img class="card-img-top" style="max-height: 150px;" th:src="${car.photos != null and car.photos.size() > 0 ? '/uploads/' + car.photos[0].url : '/images/carDefault.png'}" alt="Photo de voiture">
                  </div>
                  <!-- Colonne pour le contenu de la carte -->



                  <div class="col-md-9">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-8 col-md-7">
                              <h5 class="card-title" th:text="${car.brand + ' ' + car.model}"></h5>
                              <div>
                                <span th:each="starIndex : ${#numbers.sequence(1, 5)}">
                                    <span th:if="${starIndex <= averageRatings[car.id]}">
                                        <span class="fa fa-star"></span>
                                    </span>
                                    <span th:unless="${starIndex <= averageRatings[car.id]}">
                                        <span class="fa fa-star-o"></span>
                                    </span>
                                </span>
                              </div>
                              <!-- Affichez entre parenthèses le nombre d'avis -->
                              <div>(<span th:text="${reviewCounts[car.id]}"></span> avis)</div>
                            </div>
                            <div class="col-lg-1 col-md-2">
                            </div>
                            <div class="col-lg-3 col-md-4">
                              <p th:text="${car.price.middlePrice + ' €/j'}" class="priceIndex"></p>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-lg-9">
                                <p>
                                  <img src="icones/voiture-electrique.png" alt="" height="15">
                                  <span th:text="${car.category.category}"></span>
                                </p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

        <div id="pagination">

        </div>


      </div>

  </div>
</div>
</div>

</body>
</html>
