<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Louez votre voiture</title>

</head>
<body>

<div layout:fragment="content">

  <div style="padding:60px;">
    <div class="row justify-content-center">
      <div class="col-lg-3 mt-5">
      <div class="col-lg-12 bloc-progress">
        <p class="m-2 fw-bold">Commençons</p>
        <div class="progress-bar">
          <div class="step">
            <div class="circle active">
            </div>
            <p class="p">1. Offre</p>
            <div class="line active"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">2. Véhicule</p>
            <div class="line"></div>
          </div>
          <div class="step">
              <div class="circle"></div>
            <p class="p">3. Mode de Réservation</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">4. Prix</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">5. Disponibilité</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">6. Finalisation</p>
            <div class="line"></div>
          </div>
        </div>
      </div>
        <div>
          <button class="btn btn-prev"><i class="lni lni-arrow-left"></i> Retour</button>
        </div>

      </div>
      <div class="col-lg-9 mt-5" >


        <form id="carForm" th:action="@{/saveCar}" th:object="${carDTO}" method="post" enctype="multipart/form-data">

                <div th:insert="~{car/fragmentForm/rent-offre :: offre-step}"></div>
                <div th:insert="~{car/fragmentForm/rent-vehicule :: vehicule-step}"></div>
                <div th:insert="~{car/fragmentForm/rent-reservation :: reservation-step}"></div>
                <div th:insert="~{car/fragmentForm/rent-prix :: prix-step}"></div>
                <div th:insert="~{car/fragmentForm/rent-disponibilité :: calendrier-step}"></div>
                <div th:insert="~{car/fragmentForm/rent-final :: final-step}"></div>

        </form>


          </div>
    </div>




      </div>

</div>




</body>
</html>
