<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Louez votre voiture</title>

</head>
<body>

<div layout:fragment="content">

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10"> <!-- Changez la taille de la première colonne -->
        <div class="card custom-card">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Accueil</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="rent-tab" data-bs-toggle="tab" data-bs-target="#rent" type="button" role="tab" aria-controls="rent" aria-selected="false">Modéle</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="false">Adresse</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Kilométrage</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Châssis</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">Photos</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Equipements</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="help-tab" data-bs-toggle="tab" data-bs-target="#help" type="button" role="tab" aria-controls="help" aria-selected="false">Prix</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="logout-tab" data-bs-toggle="tab" data-bs-target="#logout" type="button" role="tab" aria-controls="logout" aria-selected="false">Déconnexion</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- Contenu pour l'onglet Accueil -->
                <div class="text-center m-5">
                  <h2>Explorez de nouvelles façons de rentabiliser votre voiture grâce à la location.</h2>
                </div>

                <div class="text-center">
                  <button class="btn btn-info ps-3 pe-3 text-center">Commencer</button>
                </div>
              </div>
              <div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                <!-- Contenu pour l'onglet Location -->
                <div class="d-flex justify-content-center">
                  <img src="/images/model.png" alt="model" class="img-fluid rounded-circle m-2" width="300">
                </div>
                <div class="row m-3">
                  <div class="col-md-4 offset-md-2">
                    <select id="marque" name="marque" class="form-select" title="Sélectionnez une marque">
                      <option value="">Sélectionner une marque</option>
                      <!-- Les options de marque seront ajoutées dynamiquement par JavaScript -->
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="modele" name="modele" class="form-select" title="Sélectionnez un model">
                      <option value="">Sélectionner un modèle</option>
                      <!-- Options du modèle seront ajoutées dynamiquement -->
                    </select>
                  </div>
                  <div class="row justify-content-center m-3">
                    <div class="col-md-4">
                      <select id="categorie" name="categorie" class="form-select" title="Sélectionnez une catégorie">
                        <option value="">Sélectionner une catégorie</option>
                        <option value="">Berline</option>
                        <option value="">Break</option>
                        <option value="">Citadine</option>
                        <option value="">Break</option>
                        <option value="">MonoEspace</option>
                        <option value="">SUV</option>
                        <!-- Options du modèle seront ajoutées dynamiquement -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
                <!-- Contenu pour l'onglet Recherche -->
                <h2>Recherche de voiture</h2>
                <p>Recherchez parmi notre large sélection de voitures pour trouver celle qui répond à vos besoins.</p>
                <img src="/images/carAdresse.png" class="img-fluid mx-auto d-block" alt="adresse" width="400">
                <div class="row m-3">
                  <div class="col-md-4 offset-md-2">
                    <label for="adresse" class="form-label">Adresse et n°</label>
                    <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Votre adresse">
                  </div>
                  <div class="col-md-4">
                    <label for="code_postal" class="form-label">Code postal</label>
                    <select id="code_postal" name="code_postal" class="form-select" placeholder="Votre code postal">
                      <option value="">Sélectionnez un code postal</option>
                    </select>
                  </div>
                </div>
                <div class="row justify-content-center m-3">
                  <div class="col-md-4">
                    <select id="commune" name="commune" class="form-select" placeholder="Votre commune">
                      <option value="">Commune</option>
                    </select>
                  </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
                  <button class="btn btn-outline-primary border-0 me-md-2" type="button">&lt; Precedent</button>
                  <button class="btn btn-primary" type="button">Suivant</button>
                </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- Contenu pour l'onglet Profil -->
                <h2>Profil utilisateur</h2>
                <p>Gérez votre profil et vos informations personnelles ici.</p>
              </div>
              <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                <!-- Contenu pour l'onglet Paiement -->
                <h2>Paiement</h2>
                <p>Effectuez vos paiements en toute sécurité et simplicité.</p>
              </div>
              <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <!-- Contenu pour l'onglet Historique -->
                <h2>Historique des locations</h2>
                <p>Consultez l'historique de vos locations précédentes.</p>
              </div>
              <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <!-- Contenu pour l'onglet Paramètres -->
                <h2>Paramètres</h2>
                <p>Personnalisez les paramètres de votre compte selon vos préférences.</p>
              </div>
              <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
                <!-- Contenu pour l'onglet Aide -->
                <h2>Aide</h2>
                <p>Besoin d'aide? Consultez notre section d'aide pour obtenir des réponses à vos questions.</p>
              </div>
              <div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
                <!-- Contenu pour l'onglet Déconnexion -->
                <h2>Déconnexion</h2>
                <p>Déconnectez-vous de votre compte.</p>
              </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
