<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Louez votre voiture</title>

</head>
<body>

<div layout:fragment="content">

  <div style="padding:60px;">
    <div class="row justify-content-center">
      <div class="col-lg-3 mt-5">
      <div class="col-lg-12 bloc-progress">
        <p class="m-2 fw-bold">Commençons</p>
        <div class="progress-bar">
          <div class="step">
            <div class="circle active">
            </div>
            <p class="p">1. Offre</p>
            <div class="line active"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">2. Véhicule</p>
            <div class="line"></div>
          </div>
          <div class="step">
              <div class="circle"></div>
            <p class="p">3. Mode de Réservation</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">4. Prix</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">5. Disponibilité</p>
            <div class="line"></div>
          </div>
          <div class="step">
            <div class="circle"></div>
            <p class="p">6. Finalisation</p>
            <div class="line"></div>
          </div>
        </div>
      </div>
        <div>
          <button class="btn btn-prev"><i class="lni lni-arrow-left"></i> Retour</button>
        </div>

      </div>
      <div class="col-lg-9 mt-5" >
        <div class="row">
          <div class="col-lg-9" style="background-color:#D5DDE1; padding:80px; border-radius:10px;">
            <div class="form-step active pb-3">
              <h3 class="fw-bold mb-5">
                Content de vous revoir yassin 🙂 . Vous préferez ?
              </h3>
              <div class="row justify-content-center">
                <div class="col-lg-6 offer-container">
                  <div class="d-flex justify-content-end">
                    <div class="col-9 text-center p-1" style="transform:translateY(15px)">
                      <div class="text-coin">Vous pouvez gagnez jusqu'à 80% des locations</div>
                    </div>
                  </div>
                  <div class="offer-card-border">
                    <div class="row offer-card">
                      <div class="col-lg-12">
                        <h3 class="text-center mt-3">
                          Vous réaliser les locations
                        </h3>
                      </div>
                    </div>
                    <hr class="offer-hr">
                    <div class="col-lg-12 m-2">
                      <p>Vous gardez votre voiture.</p>
                      <p>Vous gérez vos demandes de location et les états des lieux.</p>
                      <p>Vous faites la remise des clés aux locataires.</p>
                    </div>

                    <div class="text-center mb-5">
                      <button  data-offer="standard" class="btn p-2 btn-next"
                               style="border:1px solid rgba(173,191,204,.3); widht:150px; background-color:#354C6F; color:white;"
                      >Choisir cette offre</button>
                    </div>


                  </div>
                </div>
                <div class="col-lg-6 offer-container disabled">
                  <div class="unavailable-overlay">
                    <p class="c-denger">Indisponible</p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="col-9 text-center p-1" style="transform:translateY(15px)">
                      <div class="text-coin">Vous pouvez gagnez jusqu'à 70% des locations</div>
                    </div>
                  </div>
                  <div class="offer-card-border">
                    <div class="row offer-card">
                      <div class="col-lg-12">
                        <h3 class="text-center mt-3">DriveShare s'occupe de tout pour vous</h3>
                      </div>
                    </div>
                    <hr class="offer-hr">
                    <div class="col-lg-12 m-2">
                      <p>Vous gardez votre voiture.</p>
                      <p>Vous gérez vos demandes de location et les états des lieux.</p>
                      <p>Vous faites la remise des clés aux locataires.</p>
                    </div>

                    <div>
                      <button data-offer="standard" class="btn btn-primary mb-5 p-1">Choisir cette offre</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-step">
              <h3 class="fw-bold">
                Dîtes-nous en plus sur votre carrosse 😍 . De quelle voiture s’agit-il ?
              </h3>
              <p class="mt-5">Pour apporter le maximum de visibilité à votre annonce, nous avons besoin de
                connaître certaines caractéristiques de votre véhicule.
                La marque et le modèle seront utilisés pour former le titre de votre annonce</p>
              <div class="row justify content center ">
                <div class="col-lg-6">
                  <label for="marque" class="mb-1">Marque</label>
                  <select id="marque" class="form-control" >
                    <!-- Options de marque à remplir dynamiquement -->
                  </select>
                </div>
                <div class="col-lg-6">
                  <label for="modele" class="m-1">Modèle</label>
                  <select id="modele" class="form-control">
                    <!-- Options de modèle à remplir dynamiquement -->
                  </select>
                </div>
              </div>
              <div class="row justify content center">
                <div class="col-lg-6">
                  <label for="categorie" class="mb-1">Catégorie du véhicule</label>
                  <select id="categorie" class="form-control">
                    <!-- Options de marque à remplir dynamiquement -->
                  </select>
                </div>
                <div class="col-lg-6" >
                  <label for="plaque" class="mb-1">Immatriculation</label>
                  <input id="plaque" class="form-control">
                </div>
              </div>
              <div class="row justify content center">

                <div class="col-lg-6" >
                  <p class="mb-1">1ére mise en circulation
                    <span class="question-badge" data-toggle="tooltip" data-placement="right" title
                          data-original-title="Saisissez votre plaque au format AB154ZT ou 123ABC974">?
              </span></p>
                  <div class="row">
                    <div class="col-md-4">
                      <selected id="plaque" class="form-control"></selected>
                    </div>
                    <div class="col-md-4">
                      <selected id="plaque" class="form-control"></selected>
                    </div>
                    <div class="col-md-4">
                      <selected id="plaque" class="form-control"></selected>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6" >
                  <label for="Motorisation" class="mb-1">Motorisation</label>
                  <select id="Motorisation" class="form-control">
                    <option>Diesel</option>
                    <option>Essence</option>
                    <option>Electrique</option>
                    <option>Hybride</option>
                  </select>
                </div>
              </div>
              <div class="row justify content center">
                <div class="col-lg-6" >
                  <label for="boite" class="mb-1">Boite de vitesse</label>
                  <select id="boite" class="form-control">
                    <!-- Options de marque à remplir dynamiquement -->
                  </select>
                </div>
                <div class="col-lg-6" >
                  <label for="Kilometrage" class="mb-1">Kilometrage</label>
                  <select id="Kilometrage" class="form-control">
                    <option>0 - 10 000</option>
                    <option>10 000 - 50 000</option>
                    <option>50 000 - 100 000</option>
                    <option>100 000 - 150 000</option>
                    <option>plus de 150 000</option>
                  </select>
                </div>

              </div>

              <div class="row justify content center">
                <div class="col-lg-6">
                  <label for="NbPlaces" class="mb-1">Nombres de places</label>
                  <select id="NbPlaces" class="form-control">
                    <!-- Options de marque à remplir dynamiquement -->
                  </select>
                </div>
                <div class="col-lg-6">
                  <label for="NbPortes" class="mb-1">Nombres de portes</label>
                  <select id="NbPortes" class="form-control">
                    <!-- Options de modèle à remplir dynamiquement -->
                  </select>
                </div>
              </div>
              <br>
              <br>
              <h6>Equipements</h6>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-check d-flex flex-column align-items-center">
                      <input type="checkbox" class="form-check-input" id="climatisation">
                      <label class="form-check-label" for="climatisation">
                        <img src="/icones/climatiseur.png" alt="clim" class="img-fluid" width="50">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-check d-flex flex-column align-items-center">
                      <input type="checkbox" class="form-check-input" id="exampleCheck2">
                      <label class="form-check-label" for="exampleCheck2">
                        <img src="/icones/gps.png" alt="gps" class="img-fluid" width="50">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-check d-flex flex-column align-items-center">
                      <input type="checkbox" class="form-check-input" id="regulateur">
                      <label class="form-check-label" for="regulateur">
                        <img src="/icones/compteur-de-vitesse.png" alt="regulateur" class="img-fluid" width="50">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-check d-flex flex-column align-items-center">
                      <input type="checkbox" class="form-check-input" id="chauffants">
                      <label class="form-check-label" for="chauffants">
                        <img src="/icones/chauffants.png" alt="siége" class="img-fluid" width="50">
                      </label>
                    </div>
                  </div>
                  <!-- Ajoutez autant de cases à cocher que nécessaire, en respectant le format de la grille de 3 colonnes -->
                </div>


              </div>
              <div class="description">
                <h6>Description</h6>
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <textarea maxlength="255" class="form-control col-md-12" style="height: 150px; width: 600px;"></textarea>
                    </label>
                  </div>
                </div>
              </div>
              <div>
                <h6>Localisation du véhicule</h6>
                <div class="row">
                  <div class="col-md-4">
                    <input class="form-control" id="adresseInput" placeholder="adresse (rue, avenue n°...)" oninput="updateLocation()">
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" id="codePostalSelect">
                      <option value="">-- Choissisez un code postal --</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" id="communeSelect">
                      <option value="">-- Choissisez une commune --</option>
                    </select>
                  </div>
                </div>

              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="">
                <label class="form-check-label" for="">
                  Je certifie proposer un véhicule bien entretenu et disposant d’un contrôle technique à jour
                </label>
              </div>
              <div>
                <button class="btn btn-primary btn-next">Suivant</button>
              </div>

            </div>
            <div class="form-step">
              <span>ETAPE 3</span>
              <h3>Comment les locataires pourront réserver votre voiture ?</h3>
              <div class="row">
                <div class="col-lg-4 p-2">
                  <div class="reservation-col">
                    <div class="text-center mt-3 mb-3" >
                      <img src="/images/carte.png" class="img-fluid">
                    </div>
                    <p>Les locataires consultent les annonces sur le site.<br><br>
                      Toute personne qui souhaite réserver votre voiture,
                      doit confirmer ses coordonnées, fournir ses informations personnelles.</p>
                  </div>

                </div>
                <div class="col-lg-4 p-2">
                  <div class="reservation-col">
                    <div class="text-center mt-3 mb-3">
                      <img src="/images/carte2.png" class="img-fluid">
                    </div>
                    <p>Vous définissez vos règles de location.<br>
                      Vous tenez à jour un calendrier de disponibilités de votre voiture,
                      vous décider quand et à quelle heure vous êtes disponible.
                      Vous êtes prévenu suffisamment à l'avance.</p>
                  </div>
                </div>
                <div class="col-lg-4 p-2">
                  <div class="reservation-col">
                    <div class="text-center mt-3 mb-3">
                      <img src="/images/carte3.png" class="img-fluid">
                    </div>
                    <p>Vous recevez une notification dès qu’un locataire effectue une réservation.<br>
                      Vous recevrez immédiatement un e-mail de confirmation contenant les informations,
                      la date et l'heure de la réservation.
                      Vous pouvez alors discuter avec votre locataire pour affiner les détails.</p>
                  </div>
                </div>

              </div>
              <div>
                <button class="btn btn-primary btn-next">Suivant</button>
              </div>
            </div>
            <div class="form-step">
              <div>
              <h3>Fixer un prix pour voitre voiture</h3>
              </div>
              <div>
                <p>Augmentez vos chances de réservation<br>
                  Configurez la tarification de votre voiture : le tarif de votre voiture se fait en fonction
                  de la catégorie de la location .</p>
              </div>
              <div>
                <h6>Configurer le prix</h6>
                <div class="row">
                  <div class="col-md-4">
                    <img src="images/voiture-collection.jpg" alt="collection" class="img-fluid border" width="400">
                  </div>
                  <div class="col-md-8">
                    <h2>Choisissez votre catégorie de voiture :</h2>
                    <div id="categories">
                      <button onclick="afficherJaugePrix('citadine')">Citadine</button>
                      <button onclick="afficherJaugePrix('berline')">Berline</button>
                      <button onclick="afficherJaugePrix('break')">Break</button>
                      <button onclick="afficherJaugePrix('monospace')">Monospace</button>
                      <button onclick="afficherJaugePrix('suv')">SUV</button>
                    </div>
                    <h3>Plage de prix :</h3>
                    <p id="plage-prix"></p>
                    <h3>Valeur actuelle :</h3>
                    <p id="valeur"></p>
                    <input type="range" min="0" max="150" value="0" class="slider" id="myRange">
                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-primary btn-next">Confirmer</button>
              </div>
            </div>
            <div class="form-step">
              <div>
                <span>Etape 6</span>
                <div><h3>Mettez à jour votre calendrier</h3>
                  <p>Ne recevez que les demandes qui vous intéressent en précisant
                    les jours d’indisponibilité de votre véhicule.</p>
                </div>
                <div id="calendar"></div>
                <div>
                  <button class="btn btn-primary btn-next">Confirmer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
              <div class="p-2 position-relative">
                <div class="text-center bg-light p-1 rounded-10px">
                  <img src="images/info.png" class="info-image">
                  <p>
                    Le véhicule doit avoir<br>Moins de 8 ans<br>Moins de 200000 km
                  </p>
                </div>
              </div>
            <div class="p-2 position-relative">
              <div class="text-center bg-light p-1 rounded-10px">
                <img src="images/info.png" class="info-image">
                <p>
                  Le véhicule doit avoir<br>Moins de 8 ans<br>Moins de 200000 km
                </p>
              </div>
            </div>
            <div class="p-2 position-relative">
              <div class="text-center bg-light p-1 rounded-10px">
                <img src="images/info.png" class="info-image">
                <p>
                  Le véhicule doit avoir<br>Moins de 8 ans<br>Moins de 200000 km
                </p>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

</div>



</body>
</html>
