<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Pourquoi louez ca voiture</title>

</head>
<body>
<div layout:fragment="content">
<div class="container mt-5">

        <div class="row">
          <div class="col-md-6">
            <img src="/images/revenu.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-6">
            <h2 class="mt-3">
              Pourquoi louez ca voiture ?
            </h2>
            <p class="fs-4 text-center">
              Louer votre voiture peut vous offrir de nombreux avantages.
              Que vous cherchiez à gagner un revenu supplémentaire avec une voiture inutilisée
              ou à louer une voiture pour répondre à un besoin temporaire de déplacement,
              la location de voiture peut être une solution pratique et économique.
              Explorez les avantages de la location de voiture et commencez dès aujourd'hui !
            </p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="text-center">Comment fonctionnent les paiements sur DriveShare</h2>
            <p>DriveShare utilise un système de paiement sécurisé pour faciliter les transactions entre les propriétaires de voitures et les locataires. Voici comment cela fonctionne :</p>
            <ol>
              <li>Une fois que vous avez trouvé une voiture à louer, vous pouvez effectuer une réservation en ligne en fournissant vos informations de paiement.</li>
              <li>DriveShare traitera votre paiement de manière sécurisée et le retiendra jusqu'à ce que la location soit terminée.</li>
              <li>Une fois que la location est terminée et que les deux parties sont satisfaites, DriveShare transférera le paiement au propriétaire de la voiture, déduisant une commission de 20% pour ses services.</li>
              <li>Vous recevrez une confirmation par e-mail une fois que le paiement aura été effectué avec succès.</li>
            </ol>
            <p>DriveShare prend une commission de 20% sur chaque transaction pour couvrir les frais de fonctionnement de la plateforme et garantir la sécurité des paiements.</p>
          </div>
          <div class="col-md-6">
            <!-- Vous pouvez ajouter une illustration ou d'autres éléments visuels ici pour accompagner les explications -->
          </div>
      </div>
      <!-- Ajoutez d'autres carousel-items si nécessaire -->



  <br><br><br>
  <div class="text-center fs-2">
    <a th:href="@{/rent}" class="btn btn-info text-center">Commencer à louer dès maintenant</a>
    <p class="mt-3">Louez votre voiture et commencez à gagner de l'argent dès aujourd'hui !</p>
  </div>
  <br>
  <br>
  <br>
  <div class="row align-items-center text-center mb-2">
    <div class="col-md-3 justify-content-center">
      <img src="/icones/form2.png" class="icon" alt="Icon 1" width="100">
      <img src="/icones/fleche.png" class="arrow" alt="Arrow" width="30">
    </div>
    <div class="col-md-3 justify-content-center">
      <img src="/icones/form3.png" class="icon" alt="Icon 1" width="100">
      <img src="/icones/fleche.png" class="arrow" alt="Arrow" width="30">
    </div>
    <div class="col-md-3 justify-content-center">
      <img src="/icones/form1.png" class="icon" alt="Icon 3" width="100" >
      <img src="/icones/fleche.png" class="arrow" alt="Arrow" width="30">
    </div>
    <div class="col-md-3 justify-content-center">
      <img src="/icones/form4.png" class="icon" alt="Icon 4" width="100">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-3">
      <h3 class="fw-bold">Inscrivez votre voiture</h3>
      <p>Fournissez les informations principales à propos de votre voiture pour commencer à louer.</p>

    </div>
    <div class="col-md-3">
      <h3 class="fw-bold">Recevez des réservations
      </h3>
      <p>acceptez des demandes de location. Convenez d'un rendez-vous avec un locataire.</p>

    </div>
    <div class="col-md-3">
      <h3 class="fw-bold">Louez votre voiture</h3>
      <p>Effectuez un état des lieux avec le locataire</p>

    </div>
    <div class="col-md-3">
      <h3 class="fw-bold">Percevez vos revenus</h3>
      <p>Recevez un virement 5 jours ouvrés après la fin de chaque location.</p>

    </div>
  </div>
  </div>

</div>


</body>
</html>
