<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DriveShare - Finalisation</title>
</head>
<body>
<div th:fragment="final-step" class="form-step">
    <div class="pdt-40 steps-container">
        <div id="documents" class="step-item row mgb-60">
            <div class="row">
                <div class="col-lg-9 form-zone first" >
                    <div style="background-color:#DFE7EC; padding:30px; border-radius:10px;padding-bottom: 80px;">
                        <div class="row">
                            <div class="col-lg-9">
                                <span class="">
                                    Etape 6
                                </span>
                                <h2 class="mt-4" style="font-size:24px;">
                                    <span>Ajouter des photos à votre annonce</span>
                                    <span class="fs11 bg-warning " style="color: white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;
                                                                        font-weight: bold;">Recommandé</span>
                                </h2>
                            </div>
                            <div class="col-lg-3 not-mobile text-center mgt-20">
                                <img src="/images/camera.png" class="w70" width="70">
                            </div>

                            <div class="col-lg-12">
                                <p>Complétez votre annonce avec quelques photos dont une de l’intérieur</p>
                                <p>Vous pouvez commencer par une photo, puis en ajouter d’autres après la publication.</p>
                            </div>

                            <div class="row">
                                <div class="container mgt-30">
                                    <div class="row owner-pictures mgb-40">
                                        <!-- Boucle avec Thymeleaf pour générer 4 zones de téléchargement d'images -->
                                        <th:block th:each="i : ${#numbers.sequence(1, 4)}">
                                            <div class="col-lg-3 col-sm-12 owner-pic-item empty-item image-thumbnail">
                                                <div class="text-center border-dotted" th:onclick="'triggerFileUpload(' + ${i} + ');'">
                                                    <img src="/images/picture-icon.png" class="no-picture" alt="Image par défaut" th:id="'img-' + ${i}" />
                                                    <input type="file" name="photos" multiple th:id="'file-upload-' + ${i}" style="display: none;" th:attr="onchange='previewImage(this, ' + ${i} + ')'" />
                                                </div>
                                                <div class="link-remove" th:id="'link-remove-' + ${i}" style="display:none;">
                                                    <a href="#" th:onclick="'removeImage(' + ${i} + '); return false;'">Supprimer</a>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <!-- Première Colonne pour la Carte Grise -->
                        <div class="col-md-6 mb-4" style="padding-right: 15px;">
                            <div class="h-100" style="background-color:#DFE7EC; padding:30px; border-radius:10px;">
                                <div class="form-zone last h-100">
                                    <h2 class="fs24" style="font-size:24px;">
                                        <img src="/images/carte-grise.png" class="nbsp-large" height="70">
                                        <span>Carte grise</span>
                                        <span class="obligatoire">Obligatoire</span>
                                    </h2>
                                    <div id="registration-card-container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12">
                                                <p class="mgb-40 mgt-20">
                                                    Déposez une copie de la carte grise de votre véhicule dans l'encart ci-dessous. La carte grise doit être lisible et au nom du propriétaire.
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <div id="dropzone-registration-card">
                                                    <div class="carte-grise-input" style="position: relative; height: 150px;" onclick="document.getElementById('file-upload').click();">
                                                        <img class="no-picture-2" src="/images/picture-icon.png" alt="photo">
                                                        <!-- Zone cliquable qui déclenchera l'input file -->
                                                        <div class="text-container" style="position: absolute; top: 60%; width: 100%; text-align: center; padding-top: 10px; cursor: pointer;" >
                                                            <div class="not-mobile" style="font-weight: bold; font-size: 14px;margin-right: 10px;margin-left:10px;" >

                                                                Glissez-déposez une photo ou un pdf de votre carte grise ici.
                                                            </div>
                                                        </div>
                                                        <!-- Input file caché -->
                                                        <input type="file" th:field="*{registrationCard}" id="file-upload" accept="image/*,.pdf" style="display: none;" onchange="handleFileUpload(this)"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="alert alert-success fs16 mgt-30 text-center" id="upload-success-message" style="display:none;">
                                                    <span class="nbsp-large">Document envoyé !</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Deuxième Colonne pour la Pièce d'Identité -->
                        <div class="col-md-6 mb-4" style="padding-left: 15px;">
                            <div style="background-color:#DFE7EC; padding:30px; border-radius:10px;">
                                <div class="form-zone last">
                                    <h2 class="fs24" style="font-size:24px;">
                                        <img src="/images/carte-identity.png" class="nbsp-large" height="70">
                                        <span>Pièce d'identité</span>
                                        <span class="obligatoire fs-11">Obligatoire</span>
                                    </h2>

                                    <!-- Condition : Si les documents sont déjà envoyés -->
                                    <div th:if="${userIdentityUploaded}">
                                        <div class="alert alert-success fs16 text-center">
                                            <span class="nbsp-large">Documents envoyés !</span>
                                        </div>
                                    </div>

                                    <!-- Condition : Si les documents ne sont pas encore envoyés -->
                                    <div th:if="${!userIdentityUploaded}">
                                        <div id="id-document-container">
                                            <p class="mgb-40 mgt-20">
                                                Déposez une copie de votre pièce d’identité (recto et verso). Le document doit être lisible et correspondre au propriétaire du véhicule.
                                            </p>
                                            <div class="row d-flex justify-content-between">
                                                <!-- RECTO -->
                                                <div class="document-identity col-lg-6 p-1">
                                                    <div class="text-center border-dotted" onclick="triggerFileUpload('recto')">
                                                        <img src="/images/picture-icon.png" class="no-picture" alt="Image par défaut" id="img-recto">
                                                        <input type="file" id="file-upload-recto" style="display: none;" onchange="previewImage(this, 'recto')" name="identityRecto">
                                                    </div>
                                                    <div class="alert alert-success fs16 mgt-30 text-center" id="upload-success-recto" style="display:none;">
                                                        <span class="nbsp-large">Ok, en attente du verso!</span>
                                                    </div>
                                                </div>

                                                <!-- VERSO -->
                                                <div class="document-identity col-lg-6 p-1">
                                                    <div class="text-center border-dotted" onclick="triggerFileUpload('verso')">
                                                        <img src="/images/picture-icon.png" class="no-picture" alt="Image par défaut" id="img-verso">
                                                        <input type="file" id="file-upload-verso" style="display: none;" onchange="previewImage(this, 'verso')" name="identityVerso">
                                                    </div>
                                                    <div class="alert alert-success fs16 mgt-30 text-center" id="upload-success-verso" style="display:none;">
                                                        <span class="nbsp-large">Document complet!</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-lg-12 text-end">
                            <button id="monBouton" type="submit" class="btn btn-primary btn-next mt-4">
                                Valider
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="m-2">
                    <div class="pd-20 position-relative mgt-30">
                        <img class="w20" width="50" src="/images/ampoule.png" style="position: relative; top: 35px;">
                        <div class="bg-light mt-4" style="padding: 20px;
                                            border: 1px solid #ccc;
                                            border-radius: 10px;">
                            <h6 class=" bold" style="font-style:italic;">Le saviez-vous ?</h6>
                            <p class="">Une annonce avec des photos est susceptible d’être louée 3 fois plus qu’une autre !</p>
                        </div>
                    </div>
                </div>

                </div>



        </div>
    </div>
</div>

</body>
</html>


