<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Liste des voitures</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container-fluid">
    <div class="row justify-content-center top-home ">
      <div class="col-md-6 d-flex justify-content-center align-items-center col-recherche">
          <div class="d-flex flex-column align-items-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="title-top-home">
                    <h1>Louez une voiture à <span>Bruxelles</span></h1>
                    <h6>Location de voitures entre particuliers</h6>
                  </div>
                  <form class="form-inline searchForm" id="searchForm" onsubmit="return searchCars(event)" method="GET" action="/cars">
                    <div class="form-group mb-3">
                      <input type="text" class="form-control w-100" id="manualAddress" name="manualAddress" placeholder="Entrez votre adresse">
                    </div>
                    <div class="form-group mb-3">
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="date" class="form-control w-100" id="dateDebut" name="dateDebut" placeholder="Date de Début">
                        </div>
                        <div class="col-sm-6">
                          <input type="date" class="form-control w-100" id="dateFin" name="dateFin" placeholder="Date de Fin">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <button type="submit" class="btn btn-block custom-search-button w-100" id="searchButton">Rechercher</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center col-map">
        <div id="map" class="map"></div>
      </div>

    </div>
    <div class="row besoins text-center justify-content-center">
      <div class="besoins-container d-flex flex-row w-100 justify-content-between">
        <div class="besoins-content">
          <div class="besoins-item">
            <p class="besoin-text">Besoin <span class="c-main">d’une voiture</span><br>pour aller à la plage ? </p>
          </div>
        </div>
        <div class="besoins-content">
          <div class="besoins-line"></div>
        </div>
        <div class="besoins-content">
          <div class="besoins-item">
            <p class="besoin-text">Besoin <span class="c-main">d’un utilitaire</span><br>pour un déménagement ? </p>
          </div>
        </div>
        <div class="besoins-content">
          <div class="besoins-line"></div>
        </div>
        <div class="besoins-content">
          <div class="besoins-item">
            <p class="besoin-text">Besoin <span class="c-main">d’un 4x4</span><br>pour aller à la montagne ? </p>
          </div>
        </div>
      </div>
    </div>

  <section class="middle-home">
<div class="d-flex justify-content-center">
  <div>
    <h2 class="fs32 medium text-center">🚗 Louez une voiture <span class="c-main">où que vous soyez à Bruxelles</span></h2>  </div>
</div>
    <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center mb-5">
      <div class="home-page-link">
        <a class="category-link d-flex flex-column align-items-center" href="#" data-category="Citadine">
          <img src="/icons/home-citadine.png" alt="Citadine Icon" class="category-icon">
          <span class="category-link-text">Citadine</span>
        </a>
      </div>
      <div class="home-page-link">
        <a class="category-link d-flex flex-column align-items-center" href="#" data-category="Berline">
          <img src="/icons/home-berline.png" alt="Berline Icon" class="category-icon">
          <span class="category-link-text">Berline</span>
        </a>
      </div>
      <div class="home-page-link">
        <a class="category-link d-flex flex-column align-items-center" href="#" data-category="Familial">
          <img src="/icons/home-break.png" alt="Familial Icon" class="category-icon">
          <span class="category-link-text">Familial</span>
        </a>
      </div>
      <div class="home-page-link">
        <a class="category-link d-flex flex-column align-items-center" href="#" data-category="MonoSpace">
          <img src="/icons/home-monospace.png" alt="Monospace Icon" class="category-icon">
          <span class="category-link-text">MonoSpace</span>
        </a>
      </div>
      <div class="home-page-link">
        <a class="category-link d-flex flex-column align-items-center" href="#" data-category="4X4">
          <img src="/icons/home-4x4.png" alt="4X4 Icon" class="category-icon">
          <span class="category-link-text">4X4</span>
        </a>
      </div>
    </div>


    <div id="topRatedCars" class="d-flex flex-row justify-content-center align-items-center">
      <!-- Les voitures avec une note de 5 étoiles seront affichées ici -->
    </div>
  </section>
<section class="insurance-home mt-5">
  <div class="d-flex flex-lg-row flex-column justify-content-around">
    <div class="left-panel d-flex flex-column justify-content-center flex-grow-1">
      <div class="d-flex flex-row justify-content-end"></div>
      <div class="d-flex flex-row justify-content-start">
        <div class="insurance-card d-flex flex-row insurance">
          <img src="/images/carte-banque-prix.png" height="56" width="56">
          <div>
            <p>Paiement sécurisé</p>
            <p>Réglez en ligne et nous nous chargerons du reste</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center"></div>
      <div class="d-flex flex-row justify-content-end"></div>
    </div>

    <div class="right-panel d-flex flex-column justify-content-center flex-grow-1">
      <h2>Nouveau sur le marché de la location entre particuliers à Bruxelles 🚗</h2>
      <p class="small text-muted">DriveShare est en pleine expansion dans la capitale belge,
        offrant une alternative unique et pratique pour la location de voitures entre particuliers.
        Bien que tout juste lancé, DriveShare se distingue déjà par son engagement à fournir
        un service de qualité et sécurisé. Rejoignez-nous et découvrez une nouvelle façon
        de louer un véhicule à Bruxelles, où les options de location entre particuliers étaient
        jusque-là limitées. Faites partie des premiers à profiter de cette nouvelle expérience de mobilité urbaine.</p>
      <div></div>
    </div>
  </div>
</section>

  </div>


  </div>

</body>
</html>

