<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Footer fragment</title>
</head>
<body>
<footer th:fragment="footer" >
        <div class="container-fluid">
            <div class="row text-body-secondary">
                <div class="col-6 text-start ">
                    <a class="text-body-secondary" href=" #">
                        <strong>CodzSwod</strong>
                    </a>
                </div>
                <div class="col-6 text-end text-body-secondary d-none d-md-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">About Us</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>