<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Sidebar fragment</title>
</head>

<body>
<div th:fragment="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="/home">DriveShare</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="/admin" class="sidebar-link">
                    <i class="lni lni-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/users/all" class="sidebar-link">
                    <i class="lni lni-users"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/cars/online" class="sidebar-link">
                    <i class="lni lni-car"></i>
                    <span>Véhicules</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/admin/reservations}" class="sidebar-link">
                    <i class="lni lni-calendar"></i>
                    <span>Reservations</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="/admin/messages" class="sidebar-link">
                    <i class="lni lni-wechat"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/evaluations" class="sidebar-link">
                    <i class="lni lni-comments-reply"></i>
                    <span>Evaluations</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/finances" class="sidebar-link">
                    <i class="lni lni-stats-up"></i>
                    <span>Finances</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/claims" class="sidebar-link">
                    <i class="fas fa-exclamation-circle"></i>
                    <span>Réclamations</span>
                </a>
            </li>

        </ul>
        <div class="sidebar-footer">
            <a href="/logout" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
</div>
</body>

</html>