<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Sidebar fragment</title>
</head>

<body>
<div th:fragment="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">DriveShare</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#users" aria-expanded="false" aria-controls="users">
                    <i class="lni lni-user"></i>
                    <span>Users</span>
                </a>
                <ul id="users" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a th:href="@{/admin/users/all}" class="sidebar-link">All Users</a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/admin/users/add}" class="sidebar-link">Add New User</a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/admin/users/roles}" class="sidebar-link">Roles & Permissions</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="/admin/finances" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Finances</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#cars" aria-expanded="false" aria-controls="cars">
                    <i class="lni lni-car"></i>
                    <span>Véhicules</span>
                </a>
                <ul id="cars" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a th:href="@{/admin/cars/online}" class="sidebar-link">Online</a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/admin/cars/pending}" class="sidebar-link">Pending...</a>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/admin/cars/gestion}" class="sidebar-link">Gestion</a>
                    </li>
                </ul>


            </li>
            <li class="sidebar-item">
                <a th:href="@{/admin/reservations}" class="sidebar-link">
                    <i class="lni lni-calendar"></i>
                    <span>Reservations</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-protection"></i>
                    <span>Auth</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                    <i class="lni lni-layout"></i>
                    <span>Multi Level</span>
                </a>


            </li>
            <li class="sidebar-item">
                <a href="/admin/messages" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/evaluations" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a href="#" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
</div>
</body>

</html>